@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.recepcao .leftpan:focus, .recepcao .centerpan:hover, .recepcao .rightpan:hover,
.recepcao .leftpan:hover, .recepcao .centerpan:hover, .recepcao .rightpan:hover {
  background-size: auto;
  -webkit-transition: background-size 1000ms linear;
  -ms-transition: background-size 1000ms linear;
  transition: background-size 1000ms linear;
}
.recepcao .leftpan:focus a, .recepcao .centerpan:hover a, .recepcao .rightpan:hover a,
.recepcao .leftpan:hover a, .recepcao .centerpan:hover a, .recepcao .rightpan:hover a {
  opacity: 1;
  transition: opacity 0.5s linear;
}

.back {
  position: absolute;
  padding: 30px;
  color: white;
  z-index: 9999;
  font-size: 2rem;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

img {
  height: auto;
}

.hpanel {
  position: absolute;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.hpanel.background-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.leftpan {
  z-index: 1;
  width: 40%;
  clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
  background-image: url("/imagens/recepcao/background/site.png");
  background-position: right;
  background-size: cover;
}
.leftpan .background-img {
  height: 100vh;
  position: absolute;
  width: 100%;
}
.leftpan .btn-area {
  width: 75%;
}
@media (max-width: 768px) {
  .leftpan .btn-area {
    width: 100%;
  }
}

.centerpan {
  width: 100%;
  z-index: 0;
  background-image: url("/imagens/recepcao/background/ecommerce.png");
  background-position: center;
  background-size: contain;
}
.centerpan .background-img {
  height: 100vh;
  position: absolute;
  width: 100%;
}

.rightpan {
  z-index: 1;
  right: 0;
  width: 40%;
  clip-path: polygon(40% 0, 100% 0, 100% 100%, 0% 100%);
  background-image: url("/imagens/recepcao/background/cliente.png");
  background-position: center;
  background-size: cover;
}
.rightpan .background-img {
  height: 100vh;
  position: absolute;
  width: 100%;
}
.rightpan .btn-area {
  width: 85%;
  margin-left: 15%;
}
@media (max-width: 768px) {
  .rightpan .btn-area {
    width: 100%;
    margin-left: 0;
  }
}

.content-area {
  text-align: center;
  margin: 55vh auto;
}
.content-area h2 {
  font-size: 1.75em;
  margin-bottom: 50px;
}
.content-area .btn-area {
  margin-top: 50px;
}
.content-area .btn-area.dark a {
  color: #010222;
}
.content-area .btn-area a {
  padding: 12px 0;
  text-align: center;
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: #FFF;
  font-family: "Poppins", sans-serif;
  text-transform: lowercase;
  line-height: 1;
  opacity: 0;
  pointer-events: none;
}
@media (max-width: 768px) {
  .content-area .btn-area a {
    opacity: 1;
    margin: 0 !important;
  }
}

.social {
  font-size: 1.5em;
  position: absolute;
  z-index: 999;
  right: 5vh;
  top: 5vh;
  text-align: center;
}
.social .instagram {
  margin-top: 3vh;
}
.social a {
  color: #D4DDE8;
  text-decoration: none;
}

.menu-right {
  -webkit-animation: slide-in-left 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.menu-left {
  -webkit-animation: slide-in-right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.page-institucional {
  position: relative;
}
.page-institucional .section {
  position: absolute;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.page-institucional .section.institucional {
  width: 100%;
  height: 100vh;
  font-family: Arial;
  color: #A4B3D8;
}
.page-institucional .section.institucional .container {
  z-index: 9999;
  -webkit-animation: slide-in-left 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.page-institucional .section.institucional .container h1 {
  font-size: 2em;
}
.page-institucional .section.institucional .texto {
  line-height: 30px;
  font-size: 1.25em;
}
.page-institucional .section.institucional a {
  padding: 7px 50px;
  text-align: center;
  background-color: #1A2043;
  border-radius: 50px;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #FFF;
  letter-spacing: 1px;
}
.page-institucional .section.institucional a:hover {
  background-color: #556edd;
}
.page-institucional .section.institucional .background-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/imagens/home.png");
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
  z-index: 0;
}
.page-institucional .section.institucional .background-color {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background: rgba(38, 43, 79, 0.8);
}
.page-institucional .section a {
  z-index: 1;
}
.page-institucional .section .content-area {
  z-index: 100;
  position: relative;
}
.page-institucional .section.menu-right {
  top: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  z-index: 999;
}
.page-institucional .section.menu-right svg {
  width: 30px;
}
.page-institucional .section.menu-right a {
  color: #ABBADE;
  text-decoration: none;
  position: absolute;
  font-size: 1.875em;
  margin-bottom: 20px;
}
.page-institucional .section.menu-right a :hover {
  color: white;
}
.page-institucional .section.menu-right .menu-ecommerce {
  position: absolute;
  background-color: #1A2043;
  width: 224px;
  bottom: 0;
  right: 0;
  z-index: 3;
  height: 100%;
  clip-path: polygon(100% 29%, 30% 100%, 100% 100%);
}
.page-institucional .section.menu-right .menu-ecommerce a {
  bottom: 0.5vh;
  right: 95px;
}
.page-institucional .section.menu-right .menu-area-cliente {
  position: absolute;
  background-color: #0C1133;
  width: 128px;
  bottom: 0;
  right: 0;
  z-index: 4;
  height: 100%;
  clip-path: polygon(100% 61%, 30% 100%, 100% 100%);
}
.page-institucional .section.menu-right .menu-area-cliente a {
  bottom: 0;
  right: 3vh;
}

.page-ecommerce .section {
  position: absolute;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.page-ecommerce .section.ecommerce {
  width: 100%;
  height: 100vh;
  font-family: Arial;
  color: #A4B3D8;
}
.page-ecommerce .section.ecommerce .container {
  z-index: 99;
  -webkit-animation: slide-in-right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.page-ecommerce .section.ecommerce .container h1 {
  font-size: 2em;
}
.page-ecommerce .section.ecommerce .container .texto {
  line-height: 30px;
  font-size: 1.25em;
}
.page-ecommerce .section.ecommerce a {
  padding: 7px 50px;
  text-align: center;
  background-color: #1A2043;
  border-radius: 50px;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #FFF;
  letter-spacing: 1px;
}
.page-ecommerce .section.ecommerce a:hover {
  background-color: #556edd;
}
.page-ecommerce .section.ecommerce .background-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/imagens/recepcao/Grupo -1.png");
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
  z-index: 0;
}
.page-ecommerce .section.ecommerce .background-color {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background: rgba(44, 49, 82, 0.8);
}
.page-ecommerce .section a {
  z-index: 1;
}
.page-ecommerce .section .content-area {
  z-index: 100;
  position: relative;
}
.page-ecommerce .section.menu-left {
  top: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
}
.page-ecommerce .section.menu-left a {
  color: #ABBADE;
  text-decoration: none;
  position: absolute;
  font-size: 1.875em;
  margin-top: 4vh;
}
.page-ecommerce .section.menu-left a :hover {
  color: white;
}
.page-ecommerce .section.menu-left svg {
  width: 30px;
}
.page-ecommerce .section.menu-left .menu-institucional {
  position: absolute;
  background-color: #242B57;
  width: 128px;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  clip-path: polygon(0 0, 0 50%, 100% 0);
}
.page-ecommerce .section.menu-left .menu-institucional a {
  top: 0;
  left: 4vh;
}
.page-ecommerce .section.menu-left .menu-ecommerce {
  position: absolute;
  background-color: #0C1133;
  width: 224px;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  clip-path: polygon(0 0, 0 80%, 100% 0);
}
.page-ecommerce .section.menu-left .menu-ecommerce a {
  top: 0;
  left: 65%;
}
.page-ecommerce .section.menu-right {
  top: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  z-index: 999;
}
.page-ecommerce .section.menu-right svg {
  width: 30px;
}
.page-ecommerce .section.menu-right a {
  color: #ABBADE;
  text-decoration: none;
  position: absolute;
  font-size: 1.875em;
  margin-bottom: 20px;
}
.page-ecommerce .section.menu-right a :hover {
  color: white;
}
.page-ecommerce .section.menu-right .menu-ecommerce {
  position: absolute;
  background-color: #1A2043;
  width: 224px;
  bottom: 0;
  right: 0;
  z-index: 3;
  height: 100%;
  clip-path: polygon(100% 29%, 30% 100%, 100% 100%);
}
.page-ecommerce .section.menu-right .menu-ecommerce a {
  bottom: 0.5vh;
  right: 11.5vh;
}
.page-ecommerce .section.menu-right .menu-area-cliente {
  position: absolute;
  background-color: #0C1133;
  width: 128px;
  bottom: 0;
  right: 0;
  z-index: 4;
  height: 100%;
  clip-path: polygon(100% 61%, 30% 100%, 100% 100%);
}
.page-ecommerce .section.menu-right .menu-area-cliente a {
  bottom: 0;
  right: 3vh;
}

.page-area-cliente .section {
  position: absolute;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.page-area-cliente .section.area-cliente {
  width: 100%;
  height: 100vh;
  font-family: Arial;
  color: #A4B3D8;
}
.page-area-cliente .section.area-cliente .container {
  z-index: 99;
  -webkit-animation: slide-in-right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.page-area-cliente .section.area-cliente .container h1 {
  font-size: 2em;
}
.page-area-cliente .section.area-cliente .container .texto {
  line-height: 30px;
  font-size: 1.25em;
}
.page-area-cliente .section.area-cliente a {
  padding: 7px 50px;
  text-align: center;
  background-color: #1A2043;
  border-radius: 50px;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #FFF;
  letter-spacing: 1px;
}
.page-area-cliente .section.area-cliente a:hover {
  background-color: #556edd;
}
.page-area-cliente .section.area-cliente .background-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/imagens/recepcao/Grupo -2.png");
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
  z-index: 0;
}
.page-area-cliente .section.area-cliente .background-color {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background: rgba(44, 50, 84, 0.8);
}
.page-area-cliente .section a {
  z-index: 1;
}
.page-area-cliente .section .content-area {
  z-index: 100;
  position: relative;
}
.page-area-cliente .section.menu-left {
  top: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
}
.page-area-cliente .section.menu-left a {
  color: #ABBADE;
  text-decoration: none;
  position: absolute;
  font-size: 1.875em;
  margin-top: 4vh;
}
.page-area-cliente .section.menu-left a :hover {
  color: white;
}
.page-area-cliente .section.menu-left svg {
  width: 30px;
}
.page-area-cliente .section.menu-left .menu-institucional {
  position: absolute;
  background-color: #242B57;
  width: 128px;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  clip-path: polygon(0 0, 0 50%, 100% 0);
}
.page-area-cliente .section.menu-left .menu-institucional a {
  top: 0;
  left: 4vh;
}
.page-area-cliente .section.menu-left .menu-ecommerce {
  position: absolute;
  background-color: #1A2043;
  width: 224px;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  clip-path: polygon(0 0, 0 80%, 100% 0);
}
.page-area-cliente .section.menu-left .menu-ecommerce a {
  top: 0;
  left: 65%;
}
.page-area-cliente .section.menu-right {
  top: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  z-index: 999;
}
.page-area-cliente .section.menu-right a {
  color: #ABBADE;
  text-decoration: none;
  position: absolute;
  font-size: 1.875em;
  margin-bottom: 20px;
}
.page-area-cliente .section.menu-right a :hover {
  color: white;
}
.page-area-cliente .section.menu-right .menu-ecommerce {
  position: absolute;
  background-color: #4C5487;
  width: 224px;
  bottom: 0;
  right: 0;
  z-index: 3;
  height: 100%;
  clip-path: polygon(100% 29%, 0% 100%, 100% 100%);
}
.page-area-cliente .section.menu-right .menu-ecommerce a {
  bottom: 0;
  left: 20%;
}
.page-area-cliente .section.menu-right .menu-area-cliente {
  position: absolute;
  background-color: #0C1133;
  width: 128px;
  bottom: 0;
  right: 0;
  z-index: 4;
  height: 100%;
  clip-path: polygon(100% 61%, 0% 100%, 100% 100%);
}
.page-area-cliente .section.menu-right .menu-area-cliente a {
  bottom: 0;
  left: 50%;
}

:root {
  --secondary-color: #151226;
  --contrast-color: #BF307F;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .page-institucional .section.institucional .background-img {
    background-size: contain;
  }

  .page-institucional .conteudo, .page-ecommerce .conteudo, .page-area-cliente .conteudo {
    align-items: initial !important;
  }
  .page-institucional .texto, .page-ecommerce .texto, .page-area-cliente .texto {
    font-size: 1em !important;
    line-height: initial !important;
  }
  .page-institucional .conteudo-texto, .page-ecommerce .conteudo-texto, .page-area-cliente .conteudo-texto {
    padding-top: 10px !important;
  }
  .page-institucional .container, .page-ecommerce .container, .page-area-cliente .container {
    min-height: auto !important;
  }
  .page-institucional .section, .page-ecommerce .section, .page-area-cliente .section {
    position: relative !important;
  }

  .page-ecommerce .conteudo {
    padding-top: 100px !important;
  }

  .page-area-cliente .conteudo {
    padding-top: 130px !important;
  }

  .leftpan {
    top: 0;
    z-index: 1;
    width: 100%;
    height: 33%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    background-image: url("/imagens/recepcao/background/site.png");
    background-position: initial;
  }
  .leftpan .content-area {
    margin-top: 10vh;
    width: auto;
  }

  .centerpan {
    top: 10%;
    width: 100%;
    z-index: 0;
    height: 80%;
    background-image: url("/imagens/recepcao/background/ecommerce.png");
    background-position: center;
    background-size: contain;
  }
  .centerpan .content-area {
    margin-top: 35vh;
    width: auto;
  }

  .rightpan {
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 33%;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
    background-image: url("/imagens/recepcao/background/cliente.png");
    background-position: initial;
  }
  .rightpan .background-img {
    background: rgba(26, 32, 67, 0.7);
    height: 100%;
  }
  .rightpan .content-area {
    margin-top: 15vh;
    width: auto;
  }

  .conteudo {
    animation: none !important;
  }

  .container {
    animation: none !important;
  }

  .menu-left {
    animation: none !important;
    top: 0;
    right: 0;
    left: 0;
    bottom: auto;
    z-index: 9999 !important;
    height: 0 !important;
  }
  .menu-left svg {
    width: 25px;
  }
  .menu-left .menu-institucional {
    width: 100% !important;
    height: 64px !important;
    background-color: #242B57 !important;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0) !important;
  }
  .menu-left .menu-institucional a {
    top: 20px !important;
    right: 20px !important;
    left: auto !important;
    margin-top: 0 !important;
  }
  .menu-left .menu-ecommerce {
    width: 100% !important;
    background-color: #1A2043 !important;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 40%) !important;
    height: 120px !important;
  }
  .menu-left .menu-ecommerce a {
    top: 75px !important;
    right: 20px !important;
    left: initial !important;
    margin-top: 0 !important;
  }

  .menu-right {
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    animation: none;
    height: 0 !important;
  }
  .menu-right svg {
    width: 25px;
  }
  .menu-right .menu-ecommerce {
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 130px !important;
    clip-path: polygon(0 0, 100% 60%, 100% 100%, 0% 100%) !important;
    background-color: #1A2043 !important;
  }
  .menu-right .menu-ecommerce a {
    bottom: 65px !important;
    left: 20px !important;
  }
  .menu-right .menu-area-cliente {
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 67px !important;
    clip-path: polygon(0 0, 100% 100%, 100% 100%, 0% 100%) !important;
    background-color: #0C1133 !important;
  }
  .menu-right .menu-area-cliente a {
    bottom: 10px !important;
    left: 20px !important;
    margin-bottom: 5px !important;
  }
}
.site {
  font-family: "Poppins", sans-serif;
}
.site img, .site svg, .site video, .site canvas, .site audio, .site iframe, .site embed, .site object {
  display: initial;
}
.site h1 {
  font-size: 1.5em;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
}
.site h1.titulo {
  color: #ffa264;
}
.site p {
  color: #999AAA;
}
.site .botao {
  padding: 0.725em 1.5em;
  font-size: 1rem;
  line-height: 1;
  font-weight: bold;
  color: white;
  background-color: #1E254B;
  border-color: #DDE2EE;
  border-width: 1px;
  border-style: solid;
  -webkit-box-shadow: 0px -2px 46px -18px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: 0px -2px 46px -18px rgba(0, 0, 0, 0.78);
  box-shadow: 0px -2px 46px -18px rgba(0, 0, 0, 0.78);
  letter-spacing: 3px;
  -webkit-transition: background 0.6s 0s ease;
  -moz-transition: background 0.6s 0s ease;
  -o-transition: background 0.6s 0s ease;
  transition: background 0.6s 0s ease;
}
.site .botao:hover {
  background-color: #ffa264;
}
@media (max-width: 768px) {
  .site .botao {
    letter-spacing: 1px;
  }
}
.site .lancamento .botao-lancamento {
  position: absolute;
  margin-top: -70px;
  width: 100%;
}
.site .lancamento .botao-lancamento .btn-lancamento svg, .site .lancamento .botao-lancamento .btn-lancamento path {
  transition: 0.2s;
}
.site .lancamento .botao-lancamento .btn-lancamento:hover svg, .site .lancamento .botao-lancamento .btn-lancamento:hover path {
  fill: #FFFFFF;
}
.site .destaques-blog {
  background-image: url("/imagens/institucional/blog.png");
  background-size: cover;
}
.site .destaques-blog .botao {
  margin-bottom: -25px;
}
@media (max-width: 768px) {
  .site .destaques-blog {
    height: 500px;
    padding: 2rem;
  }
}
.site .newsletter-index {
  background-color: #1E254B;
}
.site .newsletter-index .botao {
  margin-bottom: -20px;
}
.site .newsletter-index p {
  color: white;
  margin-bottom: 1rem;
}
.site .newsletter {
  background-color: #1E254B;
  padding-top: 3rem;
  padding-left: 10rem;
  padding-right: 10rem;
}
.site .newsletter .botao {
  margin-bottom: -20px;
}
.site .newsletter p {
  color: white;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .site .newsletter {
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.site input.padrao {
  border-radius: 0;
  padding: 0.5rem 1rem;
  font-size: 0.875em;
  color: #535B72;
}
.site input[type=date] {
  padding: 10px 10px 10px 30px;
}
.site textarea.padrao {
  border-radius: 0;
  padding: 0.5rem 1rem;
  font-size: 0.875em;
  color: #535B72;
}
.site select.padrao {
  border-radius: 0;
  padding: 10px 10px 10px 30px;
  font-size: 0.875em;
  color: #535B72;
}
.site .carousel .image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.site .carousel .image img {
  height: 100%;
}
.site .carousel .carousel-indicators {
  margin-bottom: 50px;
}
.site .carousel .carousel-control-next-icon {
  width: auto;
  height: auto;
  background-image: none;
}
.site .carousel .carousel-control-prev-icon {
  width: auto;
  height: auto;
  background-image: none;
}
.site .carousel .carousel-indicators li {
  height: 30px;
  border: 0;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.site #wrapper {
  overflow-x: hidden;
}
.site #sidebar-wrapper {
  margin-left: -250px;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 250px;
  overflow-y: auto;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  background-color: #1E254B;
  left: 0;
  z-index: 999;
  -webkit-box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;
}
.site #sidebar-wrapper .hidden-sidebar {
  position: absolute;
  right: 0;
  top: 210px;
  z-index: 9999;
}
.site #sidebar-wrapper .icon {
  display: none;
}
.site #sidebar-wrapper.toggled .icon {
  display: block;
}
.site #sidebar-wrapper.toggled .hidden-sidebar {
  display: none;
}
.site #sidebar-wrapper .logo {
  max-width: 100%;
}
.site #sidebar-wrapper.toggled {
  margin-left: 0;
  width: 100%;
  max-width: 100vw;
}
.site #sidebar-wrapper.toggled .social {
  display: block !important;
}
.site #sidebar-wrapper.toggled .social .facebook {
  margin-right: 0;
}
@media (min-width: 768px) {
  .site #sidebar-wrapper.toggled {
    margin-left: 0;
    width: 100px;
  }
  .site #sidebar-wrapper.toggled .text-menu {
    display: none;
  }
}
.site #sidebar-wrapper .social {
  display: flex !important;
  justify-content: center;
  color: #ffa264;
  font-size: 1.5em;
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  top: unset;
  bottom: 20px;
  text-align: center;
  width: 100%;
}
.site #sidebar-wrapper .social .facebook {
  margin-right: 30px;
}
.site #sidebar-wrapper .social .instagram {
  margin: 0;
}
.site #sidebar-wrapper .social a {
  color: #ffa264;
  text-decoration: none;
}
.site #sidebar-wrapper .social a :hover {
  color: radial-gradient(circle, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
}
@media (max-width: 768px) {
  .site #sidebar-wrapper .hidden-sidebar {
    display: none;
  }
  .site #sidebar-wrapper .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #E4E4E4;
    width: 100%;
    height: 200px;
    -webkit-clip-path: polygon(0 70%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 70%, 100% 0, 100% 100%, 0% 100%);
  }
  .site #sidebar-wrapper .social {
    display: flex !important;
  }
  .site #sidebar-wrapper .social .facebook {
    margin-right: 0 !important;
  }
}
.site #sidebar-wrapper .sidebar-heading {
  padding: 2rem;
  font-size: 1rem;
}
.site #sidebar-wrapper .list-group {
  padding-left: 2rem;
}
.site #sidebar-wrapper .list-group .list-group-item {
  padding-left: 0;
  border: none;
  background: none;
  color: white;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 1rem;
}
.site #sidebar-wrapper .list-group .list-group-item svg {
  width: 30px;
}
.site #sidebar-wrapper .list-group .list-group-item.active {
  color: #ffa264;
}
.site #sidebar-wrapper .list-group .list-group-item:hover {
  color: #ffa264;
}
.site #sidebar-wrapper .list-group .list-group-item:nth-child(n+2) {
  padding-top: 1.25em;
}
.site #page-content-wrapper {
  min-width: 100vw;
}
.site #page-content-wrapper.toggled .show-sidebar {
  display: block;
}
@media (max-width: 768px) {
  .site #page-content-wrapper {
    padding-top: 66px;
  }
  .site #page-content-wrapper .slide-header {
    margin-top: -66px;
  }
  .site #page-content-wrapper.toggled .show-sidebar {
    display: none;
  }
  .site #page-content-wrapper .navbar {
    background-color: #1E254B;
    padding: 0.5rem 1rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    left: 0;
  }
  .site #page-content-wrapper .navbar .icon {
    display: block;
  }
  .site #page-content-wrapper .navbar img {
    height: 50px;
  }
}
.site #page-content-wrapper .show-sidebar {
  position: fixed;
  left: 100px;
  top: 210px;
  z-index: 9999;
  display: none;
}
.site #page-content-wrapper .quem-somos {
  padding-top: 50px;
  padding-bottom: 50px;
}
.site #page-content-wrapper .blog h2 {
  color: #ffa264;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 3px;
}
.site #page-content-wrapper .blog h2 small {
  color: #1E254B;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
}
.site #page-content-wrapper .blog .botao-ver-noticia {
  color: #ffa264;
  text-transform: uppercase;
}
.site #page-content-wrapper .blog .botao-ver-noticia .icon {
  font-size: 1rem;
  background-color: #1E254B;
  padding: 3px 7px;
}
.site #page-content-wrapper .blog .data {
  background-color: #E8E9F1;
  padding: 3px 7px;
  color: #1E254B;
  text-transform: uppercase;
  font-weight: bold;
}
.site #page-content-wrapper .blog .destaques {
  max-height: 500px;
  padding: 0;
  background-size: cover;
  padding-top: 300px;
  padding-left: 100px;
}
.site #page-content-wrapper .blog .destaques p {
  color: white;
  max-width: 50%;
}
.site #page-content-wrapper .blog .destaques .botao-ver-destaque {
  padding-right: 70px;
  text-align: right;
  padding-bottom: 20px;
}
.site #page-content-wrapper .blog .destaques .botao-ver-noticia .icon {
  background-color: #FFF;
}
.site #page-content-wrapper .blog .conteudo {
  padding: 0 100px 70px 100px;
}
.site #page-content-wrapper .blog .conteudo .noticia {
  border-left: #999AAA solid 10px;
}
.site #page-content-wrapper .contato-page h1 {
  color: #1E254B;
  font-weight: bold;
  font-size: 2.8125em;
}
.site #page-content-wrapper .contato-page h2 {
  color: #1E254B;
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.site #page-content-wrapper .contato-page p {
  color: #1E254B;
  font-weight: bold;
  padding-top: 40px;
}
.site #page-content-wrapper .contato-page .form-contato {
  margin-top: 100px;
}
.site #page-content-wrapper .trabalhe-page h1 {
  font-size: 2.8125em;
  font-weight: bold;
  color: #1E254B;
}
.site #wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
.site .contato-footer h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.4em;
  color: #1E254B;
  letter-spacing: 3px;
}
.site .contato-footer .fale-conosco {
  padding-right: 2rem;
}
.site .contato-footer .fale-conosco .botao {
  padding: 0.5rem 3rem !important;
  float: right;
}
@media (max-width: 768px) {
  .site .contato-footer .fale-conosco {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.site *, .site :after, .site :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .site #page-content-wrapper {
    margin-left: 250px;
    min-width: 0;
  }
  .site #page-content-wrapper.toggled {
    margin-left: 100px;
  }
  .site #sidebar-wrapper {
    margin-left: 0;
  }
}
@-webkit-keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}
@keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}

/*# sourceMappingURL=app.css.map */
