@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.recepcao {
    overflow: hidden;
    .leftpan:focus,
    .leftpan:hover {
       transform: scale(1.04);
        -webkit-transition: all 1s linear;
        -ms-transition: all 1s linear;
        transition: all 1s linear;
        a {
            opacity: 1;
            transition: opacity .5s linear;
        }
    }

    .centerpan:hover,.rightpan:hover,
    .centerpan:hover,.rightpan:hover {

        transform: scale(1.04);
        -webkit-transition: all 1s linear;
        -ms-transition: all 1s linear;
        transition: all 1s linear;

        background-blend-mode: saturation;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        a {
            opacity: 1;
            transition: opacity .5s linear;
        }
    }
}
.back {
    position: absolute;
    padding: 30px;
    color: white;
    z-index: 9999;
    font-size: 2rem;
}
.container-fluid {
    padding: 0;
    margin: 0;
}

img {
    height: auto;
}
.hpanel {
    position: absolute;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    &.background-img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }
}
.leftpan {
    z-index: 1;
    width: 40%;
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
    background-image: url('/imagens/recepcao/background/site.png');
    background-position: right;
    background-size: cover;
    .background-img {
        height: 100vh;
        position: absolute;
        width: 100%;
    }
    .btn-area {
        width: 75%;
    }
    @media (max-width: 768px) {
        .btn-area {
            width:100%;
        }
    }
}

.centerpan {
    width: 100%;
    z-index: 0;
    background-image: url('/imagens/recepcao/background/ecommerce.png');
    background-position: center;
    background-size: contain;
    .background-img {
        height: 100vh;
        position: absolute;
        width: 100%;
    }
}
.rightpan {
    z-index: 1;
    right: 0;
    width: 40%;
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 0% 100%);
    background-image: url('/imagens/recepcao/background/cliente.png');
    background-position: center;
    background-size: cover;
    .background-img {
        height: 100vh;
        position: absolute;
        width: 100%;
    }
    .btn-area {
        width: 85%;
        margin-left: 15%;
    }
    @media (max-width: 768px) {
        .btn-area {
            width:100%;
            margin-left: 0;
        }
    }
}
.content-area {
    text-align: center;
    margin: 55vh auto;

    h2 {
        font-size:1.75em;
        margin-bottom: 50px
    }
    .btn-area {
        margin-top: 50px;

        &.dark {
            a {
                color: #010222

            }
        }

        a {
            padding: 12px 0;
            text-align: center;
            display: block;
            font-size: 1.5rem;
            font-weight: 600;
            text-decoration: none;
            color: #FFF;
            font-family: "Poppins", sans-serif;
            text-transform: lowercase;
            line-height: 1;
            opacity: 0;
            pointer-events: none;
        }
        @media (max-width: 768px){
            a {
                opacity: 1;
                margin: 0 !important;
            }
        }
    }
}
.social{
    font-size: 1.5em;
    position: absolute;
    z-index: 999;
    right: 5vh;
    top: 5vh;
    text-align: center;
    .instagram {
        margin-top: 3vh;
    }
    a {
        color: #D4DDE8;
        text-decoration: none;
    }
}
.menu-right {
    -webkit-animation: slide-in-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.menu-left {
    -webkit-animation: slide-in-right 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.page-institucional {
    position: relative;

    .section {
        position: absolute;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff;
        &.institucional {
            width: 100%;
            height: 100vh;
            font-family: Arial;
            color: #A4B3D8;

            .container {
                z-index: 9999;
                -webkit-animation: slide-in-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-in-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                h1{
                    font-size: 2em;
                }
            }

            .texto {
                line-height: 30px;
                font-size: 1.25em;
            }

            a {
                padding: 7px 50px;
                text-align: center;
                background-color: #1A2043;
                border-radius: 50px;
                display: inline-block;
                font-size: 18px;
                font-weight: 500;
                text-decoration: none;
                color: #FFF;
                letter-spacing: 1px;

                &:hover {
                    background-color: #556edd;
                }
            }

            .background-img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url('/imagens/home.png');
                -webkit-filter: blur(15px);
                -moz-filter: blur(15px);
                -o-filter: blur(15px);
                -ms-filter: blur(15px);
                filter: blur(15px);
                z-index: 0;
            }
            .background-color {
                z-index: 1;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background: rgb(38 43 79 / 80%);

            }
        }
        a {
            z-index: 1;
        }
        .content-area {
            z-index: 100;
            position: relative;
        }

        &.menu-right {
            top: 0;
            bottom: 0;
            right: 0;
            height: 100vh;
            z-index: 999;

            svg {
                width: 30px;
            }

            a {
                color: #ABBADE;
                text-decoration: none;
                position: absolute;
                font-size: 1.875em;
                margin-bottom: 20px;
                :hover{
                    color: white
                }

            }

            .menu-ecommerce {
                position: absolute;
                background-color: #1A2043;
                width: 224px;
                bottom: 0;
                right: 0;
                z-index: 3;
                height: 100%;
                clip-path: polygon(100% 29%, 30% 100%, 100% 100%);
                a {
                    bottom: 0.5vh;
                    right: 95px;
                }

            }
            .menu-area-cliente {
                position: absolute;
                background-color: #0C1133;
                width: 128px;
                bottom: 0;
                right: 0;
                z-index: 4;
                height: 100%;
                clip-path: polygon(100% 61%, 30% 100%, 100% 100%);
                a {
                    bottom: 0;
                    right: 3vh;

                }
            }
        }

    }
}

.page-ecommerce {


    .section {
        position: absolute;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff;

        &.ecommerce {
            width: 100%;
            height: 100vh;
            font-family: Arial;
            color: #A4B3D8;


            .container {
                z-index: 99;
                -webkit-animation: slide-in-right 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-in-right 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                h1{
                    font-size: 2em;
                }

                .texto {
                    line-height: 30px;
                    font-size: 1.25em;
                }
            }


            a {
                padding: 7px 50px;
                text-align: center;
                background-color: #1A2043;
                border-radius: 50px;
                display: inline-block;
                font-size: 18px;
                font-weight: 500;
                text-decoration: none;
                color: #FFF;
                letter-spacing: 1px;

                &:hover {
                    background-color: #556edd;
                }
            }

            .background-img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url('/imagens/recepcao/Grupo -1.png');
                -webkit-filter: blur(15px);
                -moz-filter: blur(15px);
                -o-filter: blur(15px);
                -ms-filter: blur(15px);
                filter: blur(15px);
                z-index: 0;

            }
            .background-color {
                z-index: 1;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background: rgb(44 49 82 / 80%);

            }
        }
        a {
            z-index: 1;
        }
        .content-area {
            z-index: 100;
            position: relative;
        }

        &.menu-left {
            top: 0;
            bottom: 0;
            left: 0;
            height: 100vh;
            z-index: 999;
            a {
                color: #ABBADE;
                text-decoration: none;
                position: absolute;
                font-size: 1.875em;
                margin-top: 4vh;
                :hover{
                    color: white
                }

            }
            svg {
                width: 30px;
            }

            .menu-institucional {
                position: absolute;
                background-color: #242B57;
                width: 128px;
                top: 0;
                left: 0;
                z-index: 3;
                height: 100%;
                clip-path: polygon(0 0, 0 50%, 100% 0);
                a {

                    top: 0;
                    left: 4vh;
                }

            }
            .menu-ecommerce {
                position: absolute;
                background-color: #0C1133;
                width: 224px;
                top: 0;
                left: 0;
                z-index: 2;
                height: 100%;
                clip-path: polygon(0 0, 0 80%, 100% 0);


                a {

                    top: 0;
                    left: 65%;
                }

            }
        }

        &.menu-right {
            top: 0;
            bottom: 0;
            right: 0;
            height: 100vh;
            z-index: 999;

            svg {
                width: 30px;
            }

            a {
                color: #ABBADE;
                text-decoration: none;
                position: absolute;
                font-size: 1.875em;
                margin-bottom: 20px;
                :hover{
                    color: white
                }

            }

            .menu-ecommerce {
                position: absolute;
                background-color: #1A2043;
                width: 224px;
                bottom: 0;
                right: 0;
                z-index: 3;
                height: 100%;
                clip-path: polygon(100% 29%, 30% 100%, 100% 100%);
                a {
                    bottom: 0.5vh;
                    right: 11.5vh;
                }

            }
            .menu-area-cliente {
                position: absolute;
                background-color: #0C1133;
                width: 128px;
                bottom: 0;
                right: 0;
                z-index: 4;
                height: 100%;
                clip-path: polygon(100% 61%, 30% 100%, 100% 100%);
                a {
                    bottom: 0;
                    right: 3vh;

                }
            }
        }

    }
}

.page-area-cliente {


    .section {
        position: absolute;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff;

        &.area-cliente {
            width: 100%;
            height: 100vh;
            font-family: Arial;
            color: #A4B3D8;


            .container {
                z-index: 99;
                -webkit-animation: slide-in-right 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-in-right 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                h1{
                    font-size: 2em;
                }

                .texto {
                    line-height: 30px;
                    font-size: 1.25em;
                }
            }


            a {
                padding: 7px 50px;
                text-align: center;
                background-color: #1A2043;
                border-radius: 50px;
                display: inline-block;
                font-size: 18px;
                font-weight: 500;
                text-decoration: none;
                color: #FFF;
                letter-spacing: 1px;

                &:hover {
                    background-color: #556edd;
                }
            }

            .background-img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url('/imagens/recepcao/Grupo -2.png');
                -webkit-filter: blur(15px);
                -moz-filter: blur(15px);
                -o-filter: blur(15px);
                -ms-filter: blur(15px);
                filter: blur(15px);
                z-index: 0;
            }
            .background-color {
                z-index: 1;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background: rgb(44 50 84 / 80%);

            }
        }
        a {
            z-index: 1;
        }
        .content-area {
            z-index: 100;
            position: relative;

        }

        &.menu-left {
            top: 0;
            bottom: 0;
            left: 0;
            height: 100vh;
            z-index: 999;
            a {
                color: #ABBADE;
                text-decoration: none;
                position: absolute;
                font-size: 1.875em;
                margin-top: 4vh;
                :hover{
                    color: white
                }

            }
            svg {
                width: 30px;
            }

            .menu-institucional {
                position: absolute;
                background-color: #242B57;
                width: 128px;
                top: 0;
                left: 0;
                z-index: 3;
                height: 100%;
                clip-path: polygon(0 0, 0 50%, 100% 0);
                a {

                    top: 0;
                    left: 4vh;
                }

            }
            .menu-ecommerce {
                position: absolute;
                background-color: #1A2043;
                width: 224px;
                top: 0;
                left: 0;
                z-index: 2;
                height: 100%;
                clip-path: polygon(0 0, 0 80%, 100% 0);


                a {

                    top: 0;
                    left: 65%;
                }

            }
        }

        &.menu-right {
            top: 0;
            bottom: 0;
            right: 0;
            height: 100vh;
            z-index: 999;
            a {
                color: #ABBADE;
                text-decoration: none;
                position: absolute;
                font-size: 1.875em;
                margin-bottom: 20px;
                :hover{
                    color: white
                }

            }

            .menu-ecommerce {
                position: absolute;
                background-color: #4C5487;
                width: 224px;
                bottom: 0;
                right: 0;
                z-index: 3;
                height: 100%;
                clip-path: polygon(100% 29%, 0% 100%, 100% 100%);

                a {

                    bottom: 0;
                    left: 20%;
                }

            }
            .menu-area-cliente {
                position: absolute;
                background-color: #0C1133;
                width: 128px;
                bottom: 0;
                right: 0;
                z-index: 4;
                height: 100%;
                clip-path: polygon(100% 61%, 0% 100%, 100% 100%);
                a {
                    bottom: 0;
                    left: 50%;

                }
            }
        }

    }
}

:root {
    --secondary-color: #151226;
    --contrast-color: #BF307F;
}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}


@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}


@media (max-width: 768px) {

    .page-institucional .section.institucional .background-img {
        background-size: contain;
    }

    .page-institucional, .page-ecommerce, .page-area-cliente {
        .conteudo {
            align-items: initial !important;
        }
        .texto {
            font-size: 1em  !important;
            line-height: initial !important;
        }
        .conteudo-texto {
            padding-top: 10px !important;
        }
        .container {
            min-height: auto !important;
        }
        .section {
            position: relative !important;
        }

    }

    .page-ecommerce .conteudo {
        padding-top: 100px !important;

    }

    .page-area-cliente .conteudo {
        padding-top: 130px !important;
    }

    .leftpan {
        top: 0;
        z-index: 1;
        width: 100%;
        height: 33%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
        background-image: url('/imagens/recepcao/background/site.png');
        background-position: initial;

        .content-area {
            margin-top: 10vh;
            width: auto;

        }
    }

    .centerpan {
        top: 10%;
        width: 100%;
        z-index: 0;
        height: 80%;
        background-image: url('/imagens/recepcao/background/ecommerce.png');
        background-position: center;
        background-size: contain;
        .content-area {
            margin-top: 35vh;
            width: auto;
        }
    }

    .rightpan {
        z-index: 1;
        bottom: 0;
        width: 100%;
        height: 33%;
        clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
        background-image: url('/imagens/recepcao/background/cliente.png');
        background-position: initial;

        .background-img {
            background: rgb(26 32 67 / 0.7);
            height: 100%;
        }
        .content-area {
            margin-top: 15vh;
            width: auto;
        }
    }

    .conteudo {
        animation: none !important;
    }
    .container {
        animation: none !important;
    }


    .menu-left {

        animation: none !important;
        top: 0;
        right: 0;
        left: 0;
        bottom: auto;
        z-index: 9999!important;
        height: 0 !important;
        svg {
            width: 25px;
        }
        .menu-institucional {
            width: 100% !important;
            height: 64px !important;
            background-color: #242B57 !important;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0) !important;
            a {
                top: 20px  !important;
                right: 20px  !important;
                left: auto !important;
                margin-top: 0 !important;
            }
        }

        .menu-ecommerce {
            width: 100% !important;
            background-color: #1A2043 !important;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 40%) !important;
            height: 120px !important;
            a {
                top: 75px !important;
                right: 20px  !important;
                left: initial !important;
                margin-top: 0 !important;
            }
        }
    }

    .menu-right {
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 999;
        animation: none;
        height: 0 !important;
        svg {
            width: 25px;
        }
        .menu-ecommerce {
            left: 0 !important;
            bottom: 0 !important;
            width: 100% !important;
            height: 130px !important;
            clip-path: polygon(0 0, 100% 60%, 100% 100%, 0% 100%) !important;
            background-color: #1A2043  !important;
            a {
                bottom: 65px !important;
                left: 20px !important;
            }
        }
        .menu-area-cliente {
            left: 0 !important;
            bottom: 0 !important;
            width: 100% !important;
            height: 67px !important;
            clip-path: polygon(0 0, 100% 100%, 100% 100%, 0% 100%) !important;
            background-color: #0C1133  !important;
            a {
                bottom: 10px !important;
                left: 20px !important;
                margin-bottom: 5px !important;
            }
        }
    }
}


.site {



    img, svg, video, canvas, audio, iframe, embed, object {
        display: initial;
    }

    font-family: "Poppins", sans-serif;

    h1{
        font-size: 1.5em;
        letter-spacing: 3px;
        font-weight: bold;
        text-transform: uppercase;
        &.titulo{
            color: #ffa264;
        }
    }

    p {
        color: #999AAA;
    }

    .botao {
        padding: 0.725em 1.5em;
        font-size:  1rem;
        line-height: 1;
        font-weight: bold;
        color: white;
        background-color: #1E254B;
        border-color: #DDE2EE;
        border-width: 1px;
        border-style: solid;
        -webkit-box-shadow: 0px -2px 46px -18px rgba(0,0,0,0.78);
        -moz-box-shadow: 0px -2px 46px -18px rgba(0,0,0,0.78);
        box-shadow: 0px -2px 46px -18px rgba(0,0,0,0.78);
        letter-spacing: 3px;
        -webkit-transition: background 0.6s 0s ease;
        -moz-transition: background 0.6s 0s ease;
        -o-transition: background 0.6s 0s ease;
        transition: background 0.6s 0s ease;

        &:hover {
            background-color: #ffa264;
        }

    }

    @media (max-width: 768px){
        .botao {
            letter-spacing: 1px;
        }
    }


    .lancamento{
        .botao-lancamento {
            position: absolute;
            margin-top: -70px;
            width: 100%;
            .btn-lancamento{
                svg, path {
                    transition: 0.2s;
                }
                &:hover {
                    svg, path {
                        fill: #FFFFFF
                    }
                }
            }
        }
    }

    .destaques-blog{
        background-image: url('/imagens/institucional/blog.png');
        background-size: cover;
        .botao {
            margin-bottom: -25px;
        }
        @media (max-width: 768px){
            height: 500px;
            padding: 2rem;
        }
    }

    .newsletter-index {
        background-color: #1E254B;
        .botao{
            margin-bottom: -20px;
        }
        p {
            color: white;
            margin-bottom: 1rem;
        }
    }

    .newsletter{
        background-color: #1E254B;
        padding-top: 3rem;
        padding-left: 10rem;
        padding-right: 10rem;
        .botao{
            margin-bottom: -20px;
        }
        p {
            color: white;
            margin-bottom: 1rem;
        }
    }

    @media (max-width: 768px){
        .newsletter{
            padding-top: 3rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    input {
        &.padrao {
            border-radius: 0;
            padding: 0.5rem 1rem;
            font-size: 0.875em;
            color: #535B72;
        }
        &[type=date]{
            padding: 10px 10px 10px 30px;
        }
    }

    textarea {
        &.padrao {
            border-radius: 0;
            padding: 0.5rem 1rem;
            font-size: 0.875em;
            color: #535B72;
        }
    }

    select {
        &.padrao {
            border-radius: 0;
            padding: 10px 10px 10px 30px;
            font-size: 0.875em;
            color: #535B72;
        }
    }
    .carousel {
        .image {
            background-size: cover; background-position: center; background-repeat: no-repeat;
            height: 100vh;
            img
            {
                height: 100%
            }
        }
        .carousel-indicators {
            margin-bottom: 50px;
        }
        .carousel-control-next-icon{
            width: auto;
            height: auto;
            background-image: none;
        }
        .carousel-control-prev-icon{
            width: auto;
            height: auto;
            background-image: none;
        }
        .carousel-indicators {
            li {
                height: 30px;
                border: 0;
                clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            }
        }
    }

    #wrapper {
        overflow-x: hidden;
    }



    #sidebar-wrapper {
        margin-left: -250px;
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        max-width: 250px;
        overflow-y: auto;
        -webkit-transition: margin .25s ease-out;
        -moz-transition: margin .25s ease-out;
        -o-transition: margin .25s ease-out;
        transition: margin .25s ease-out;
        background-color: #1E254B;
        left: 0;
        z-index: 999;
        -webkit-box-shadow: 0 0 2rem 0 rgba(136,152,170,.15)!important;
        box-shadow: 0 0 2rem 0 rgba(136,152,170,.15)!important;

        .hidden-sidebar {
            position: absolute;
            right: 0;
            top: 210px;
            z-index: 9999;
        }



        .icon {
            display: none;
        }
        &.toggled {
            .icon {
                display: block;
            }
            .hidden-sidebar {
                display: none;
            }
        }

        .logo {

            max-width: 100%;
        }
        &.toggled  {
            margin-left: 0;
            width: 100%;
            max-width: 100vw;

            .social {
                display: block !important;
                .facebook {
                    margin-right: 0;
                }
            }
        }
        @media (min-width: 768px){
            &.toggled  {
                margin-left: 0;
                width: 100px;
                .text-menu {
                    display: none;
                }
            }
        }
        .social {
            display: flex !important;
            justify-content: center;
            color: #ffa264;
            font-size: 1.5em;
            position: absolute;
            z-index: 999;
            left: 0;
            right: 0;
            top: unset;
            bottom: 20px;
            text-align: center;
            width: 100%;
            .facebook{
                margin-right: 30px;
            }
            .instagram {
                margin: 0;
            }
            a {
                color: #ffa264;
                text-decoration: none;
                :hover {
                    color: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
                }
            }
        }
        @media (max-width:768px){
            .hidden-sidebar {
                display: none;
            }

            .footer {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -1;
                background-color: #E4E4E4;
                width: 100%;
                height: 200px;
                -webkit-clip-path: polygon(0 70%, 100% 0, 100% 100%, 0% 100%);
                clip-path: polygon(0 70%, 100% 0, 100% 100%, 0% 100%);
            }
            .social {
                display: flex !important;
                .facebook {
                    margin-right: 0 !important;
                }
            }
        }
        .sidebar-heading {
            padding: 2rem;
            font-size: 1rem;
        }
        .list-group {
            padding-left: 2rem;

            .list-group-item {

                padding-left: 0;
                border: none;
                background: none;
                color: white;
                font-weight: bold;
                letter-spacing: 5px;
                font-size: 1rem;

                svg {
                    width: 30px;
                }

                &.active {
                    color: #ffa264;
                }

                &:hover {
                    color: #ffa264;
                }

                &:nth-child(n+2) {
                    padding-top: 1.25em;
                }
            }
        }
    }

    #page-content-wrapper {

        &.toggled {
            .show-sidebar {
                display: block;
            }
        }
        @media (max-width: 768px) {
            padding-top: 66px;
            .slide-header {
                margin-top: -66px;
            }
            &.toggled {
                .show-sidebar {
                    display: none;
                }
            }
            .navbar {
                background-color: #1E254B;
                padding: 0.5rem 1rem;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 99;
                left: 0;
                .icon {
                    display: block;
                }
                img {
                    height: 50px;
                }
            }
        }

        .show-sidebar {
            position: fixed;
            left: 100px;
            top: 210px;
            z-index: 9999;
            display: none;
        }

        min-width: 100vw;
        .quem-somos{
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .quem-somos-page{
            //padding: 100px 350px;
        }

        .blog{
            h2 {
                color: #ffa264;
                text-transform: uppercase;
                font-size: 2em;
                font-weight: bold;
                letter-spacing: 3px;
                small {
                    color: #1E254B;
                    font-style: italic;
                    font-weight: bold;
                    letter-spacing: 1px;

                }
            }
            .botao-ver-noticia {
                color: #ffa264;
                text-transform: uppercase;
                .icon {
                    font-size: 1rem;
                    background-color: #1E254B;
                    padding: 3px 7px;
                }
            }
            .data {
                background-color: #E8E9F1;
                padding: 3px 7px;
                color: #1E254B;
                text-transform: uppercase;
                font-weight: bold;
            }
            .destaques {
                max-height: 500px;
                padding: 0;
                background-size: cover;
                padding-top: 300px;
                padding-left: 100px;
                p {
                    color: white;
                    max-width: 50%;
                }
                .botao-ver-destaque {
                    padding-right: 70px;
                    text-align: right;
                    padding-bottom: 20px;
                }
                .botao-ver-noticia {
                    .icon {
                        background-color: #FFF;
                    }
                }
            }
            .conteudo {
                padding: 0 100px 70px 100px;
                .noticia {
                    border-left: #999AAA solid 10px;

                }

            }
        }

        .contato-page {
            h1 {
                color: #1E254B;
                font-weight: bold;
                font-size: 2.8125em;
            }
            h2 {
                color: #1E254B;
                font-weight: bold;
                font-size: 2em;
                text-transform: uppercase;
                letter-spacing: 3px;
            }
            p {
                color: #1E254B;
                font-weight: bold;
                padding-top: 40px;
            }
            .form-contato {
                margin-top: 100px;
            }
        }

        .trabalhe-page {
            h1{
                font-size: 2.8125em;
                font-weight: bold;
                color: #1E254B;
            }
        }
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
    }

    .contato-footer {


        h2 {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.4em;
            color: #1E254B;
            letter-spacing: 3px;
        }
        .fale-conosco {
            padding-right: 2rem;
            .botao {
                padding: 0.5rem 3rem !important;
                float: right;
            }
            @media (max-width: 768px){
                padding-top: 2rem;
                padding-bottom: 2rem;
            }
        }



    }

    *, :after, :before {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    @media (min-width: 768px) {

        #page-content-wrapper {
            margin-left: 250px;
            min-width: 0;
            &.toggled {
                margin-left: 100px;
            }
        }
        #sidebar-wrapper {
            margin-left: 0;
        }

    }

    @-webkit-keyframes scale-up-hor-left {
        0% {
            -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
        }
        100% {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
        }
    }
    @keyframes scale-up-hor-left {
        0% {
            -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
        }
        100% {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
        }
    }
}
