<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Configurações
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                        <Button v-if="!atualizando" label="Atualizar" @click="update()"></Button>
                        <Button v-else label="Atualizando..." class="disabled"></Button>
                    </div>
                    <div class="p-6 bg-white border-b border-gray-200">
                        <div v-if="Object.entries(errors).length" class="bg-yellow-300	rounded p-6">
                            <div v-for="(item, key) in errors">
                                <span class="text-uppercase font-black">{{ key }}</span>
                                <ul v-for="e in item">
                                    <li >{{e}}</li>
                                </ul>
                            </div>


                        </div>
                        <div class="grid grid-cols-4 gap-4">
                            <div class="col-span-2">
                                <span class="p-float-label">

                                <InputText class="w-full" type="text" v-model="dados.email" />
                                    <label>E-mail</label>
                                </span>
                            </div>
                            <div class="col-span-2">
                                <span class="p-float-label">
                                <InputText class="w-full" type="text" v-model="dados.telefone" />
                                <label>Telefone</label>
                                </span>
                            </div>
                            <div class="col-start-1 col-end-2">
                                <span class="p-float-label">
                                <InputText class="w-full" type="text" v-model="dados.cep" />
                                <label>CEP</label>
                                </span>
                            </div>
                            <div class="col-span-3">
                                <span class="p-float-label">
                                <InputText class="w-full" type="text" v-model="dados.endereco" />
                                <label>Endereço</label>
                                </span>
                            </div>
                            <div>
                                <span class="p-float-label">
                                <InputText class="w-full" type="text" v-model="dados.numero" />
                                <label>Número</label>
                                </span>
                            </div>
                            <div class="col-span-4">
                                <span class="p-float-label">
                                <InputText class="w-full" type="text" v-model="dados.complemento" />
                                <label>Complemento</label>
                                </span>
                            </div>
                            <div class="col-span-2">
                                <span class="p-float-label">
                                <InputText class="w-full" type="text" v-model="dados.bairro" />
                                <label>Bairro</label>
                                </span>
                            </div>
                            <div>
                                <span class="p-float-label">
                                <InputText class="w-full" type="text" v-model="dados.cidade" />
                                <label>Cidade</label>
                                </span>
                            </div>
                            <div>
                                <span class="p-float-label">
                                <InputText class="w-full" type="text" v-model="dados.estado" />
                                <label>Estado</label>
                                </span>
                            </div>
                            <div class="col-span-2">
                                <span class="p-float-label">
                                <InputText class="w-full" type="text" v-model="dados.facebook" />
                                <label>Link Facebook</label>
                                </span>
                            </div>
                            <div class="col-span-2">
                                <span class="p-float-label">
                                <InputText class="w-full" type="text" v-model="dados.instagram" />
                                <label>Link Instagram</label>
                                </span>
                            </div>
                            <div class="col-span-4">
                                <quill-editor @change="onEditorChange" class="w-full" type="text" :value="dados.quem_somos" :options="{placeholder: 'digite aqui a historia da empresa ...'}" placeholder="Digite o texto aqui" />
                            </div>
                            <div class="col-span-4">
                                <label>Catálogo</label>
                                <InputText class="w-full" type="file" v-model="dados.arquivo"  @change="onFileChange($event)" />
                                <a v-if="dados.catalogo" :href="'/'+dados.catalogo">Visualizar arquivo</a>
                            </div>
                        </div>
                    </div>
                    <div class="p-6 bg-white border-b border-gray-200">
                        <Button v-if="!atualizando" label="Atualizar" @click="update()"></Button>
                        <Button v-else label="Atualizando..." class="disabled"></Button>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>


import AppLayout from '@/Layouts/AppLayout'
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import Button from "primevue/button";
import moment from 'moment';
import Modal from '../../Jetstream/DialogModal'
import InputText from 'primevue/inputtext'
import TextArea from 'primevue/textarea'
import Quill from 'quill'
var ColorClass = Quill.import('attributors/class/color');
var SizeStyle = Quill.import('attributors/style/size');
var AlignStyle = Quill.import('attributors/style/align');
Quill.register(ColorClass, true);
Quill.register(SizeStyle, true);
Quill.register(AlignStyle, true);

export default {
    components: {
        AppLayout,
        DataTable,
        Column,
        Button,
        Modal,
        InputText,
        TextArea,
    },
    props: {
        configs: Object
    },
    data(){
        return {
            errors: {

            },
            atualizando: null,
            dados: {
                email: null,
                telefone: null,
                cep: null,
                endereco: null,
                numero: null,
                complemento: null,
                bairro: null,
                cidade: null,
                estado: null,
                facebook: null,
                instagram: null,
                quem_somos: null,
                video_quem_somos: null,
                catalogo: null,
            },
            arquivo_upload:[]
        }
    },
    methods: {
        onEditorChange({ quill, html, text }) {
            this.dados.quem_somos = html
        },
        onFileChange(e) {
            this.arquivo_upload = e.target.files
            for (let i = 0; i < this.arquivo_upload.length; i++) {
                this.arquivo_upload[i].objectURL = URL.createObjectURL(this.arquivo_upload[i]);
            }
        },
        update(){
            this.atualizando = true
            let formData = new FormData()
            Object.entries(this.dados).map((item, key) => {
                if(item[1] != null || item[1] != 'null'){
                    formData.append(item[0], item[1])
                }
            })
            formData.append('_method','PUT')
            if(this.arquivo_upload){
                formData.append("arquivo_upload", this.arquivo_upload[0]);
            }
            axios.post('/painel/configuracoes/1', formData).then((res) => {
                this.atualizando = false
                this.errors = {}
            }).catch((res) => {
                this.errors = res.response.data.data
                this.atualizando = false
            })
        },
    },
    beforeMount() {
        this.dados = this.configs
    }
}
</script>
