<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Newsletter
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                        <DataTable :value="mensagens" :paginator="true" :rows="10"
                                   paginatorTemplate="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
                                   :rowsPerPageOptions="[10,20,50]"
                                   currentPageReportTemplate="Mosrtnado {first} à {last} de {totalRecords}">
                            <Column field="created_at" header="Data">
                                <template #body="slotProps">
                                    {{ slotProps.data.created_at | formatoData }}
                                </template>
                            </Column>
                            <Column field="nome" header="Nome"></Column>
                            <Column field="email" header="E-mail"></Column>
                            <Column header="Ações" headerStyle="width: 7%">
                                <template #body="slotProps">
                                    <a href="#" @click="openModalExcluir(slotProps.data.id)" style="color: #e50202"><i class="fa fa-trash"></i></a>
                                </template>
                            </Column>
                            <template #empty>
                                Não encontramos assinaturas recebidas
                            </template>
                            <template #loading>
                                Buscando assinaturas, aguarde...
                            </template>
                        </DataTable>
                    </div>
                </div>
            </div>
        </div>
        <Modal :show="modalExcluir" @close="modalExcluir = false">

            <template #content>
                <h3>Deseja realmente excluir esta assinatura?</h3>
            </template>

            <template #footer>
                <Button label="Não" @click.native="modalExcluir = false; deletar = false" class="p-button-success p-button-outlined"  />
                <Button label="Excluir" @click="destroy(deletar)" class="p-button-danger"/>

            </template>
        </Modal>
    </app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout'
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import Button from "primevue/button";
import moment from 'moment';

import Modal from '../../Jetstream/DialogModal'
export default {
    components: {
        AppLayout,
        DataTable,
        Column,
        Button,
        Modal
    },
    data(){
        return {
            modalExcluir: false,
            deletar: null,
            mensagens: null
        }
    },
    filters: {
        formatoData(data){
            return moment(data).format('DD/MM/YYYY HH:MM:SS')
        }
    },
    methods: {
        openModalExcluir(id){
            this.deletar = id
            this.modalExcluir ? this.modalExcluir = false : this.modalExcluir = true
        },
        listar(){
            axios.get('/painel/listarNewsletter',{
                headers: { 'Cache-Control': 'no-cache' },
            }).then((res) => {
                this.mensagens = res.data.data
            }).catch((res) => {

            })
        },
        destroy(){
            axios.delete('/painel/newsletter/'+this.deletar).then((res) => {
                this.deletar = null
                this.modalExcluir = false
                this.listar()
            }).catch((res) => {
                this.deletar = null
                this.modalExcluir = false
            })
        }
    },
    beforeMount() {
        this.listar()
    }
}
</script>

