<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Notícias
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                        <Button label="Nova notícia" @click="openModal()"></Button>
                    </div>
                    <div class="p-6 bg-white border-b border-gray-200">
                        <DataTable :value="noticias" :paginator="true" :rows="10"
                                   paginatorTemplate="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
                                   :rowsPerPageOptions="[10,20,50]"
                                   currentPageReportTemplate="Mosrtnado {first} à {last} de {totalRecords}">

                            <Column field="titulo" header="Título"></Column>
                            <Column field="sub_titulo" header="Breve Descrição"></Column>
                            <Column field="created_at" header="Data">
                                <template #body="slotProps">
                                    {{ moment(slotProps.data.created_at).format('DD/MM/YYYY HH:MM:SS') }}
                                </template>
                            </Column>
                            <Column header="Ações"  headerStyle="width: 7%">
                                <template #body="slotProps">
                                    <a href="#" @click="openModal(slotProps.data.id)" style="color:#2171d4"><i class="fa fa-eye"></i></a>
                                    <a href="#" @click="openModalExcluir(slotProps.data.id)" style="color: #e50202"><i class="fa fa-trash"></i></a>
                                </template>
                            </Column>
                            <template #empty>
                                Não encontramos notícias cadastradas
                            </template>
                            <template #loading>
                                Buscando notíticias, aguarde...
                            </template>
                        </DataTable>
                    </div>
                </div>
            </div>
        </div>
        <Modal :show="modal" @close="modal = false">
            <template #title>
                <h3 v-if="editando">Editar notícia</h3>
                <h3 v-else>Nova notícia</h3>
            </template>

            <template #content>
                <h5>Título</h5>
                <InputText type="text" v-model="noticia.titulo" class="w-full" />
                <h5 class=" pt-4">Breve Descrição</h5>
                <InputText type="text" v-model="noticia.sub_titulo" class="w-full" />
                <h5 class=" pt-4">Descrição</h5>
                <quill-editor
                    ref="myQuillEditor"
                    :content="noticia.noticia"
                    @change="onEditorChange($event)"
                />
                <div class="col pt-4">
                    <div v-if="imagem_upload.length > 0">
                        <img class="w-100" id="preview" :src="imagem_upload[0].objectURL" />

                        <Button label="Remover Imagem Principal" icon="pi pi-trash" @click="imagem_upload = []" />
                    </div>
                    <div class="mb-2"  v-else-if="noticia.imagem == null || noticia.imagem == 'null'"> <span>Imagem</span>
                        <div class="relative h-60 rounded-lg border-dashed border-2 border-gray-200 bg-white flex justify-center items-center hover:cursor-pointer">
                            <div class="absolute">
                                <div class="flex flex-col items-center "> <i class="fa fa-cloud-upload fa-3x text-gray-200"></i> <span class="block text-gray-400 font-normal">Faça o upload da imagem</span> <span class="block text-gray-400 font-normal">or</span> <span class="block text-blue-400 font-normal">Procurar imagem</span> </div>
                            </div> <input id="imagem" type="file" class="h-full w-full opacity-0" name=""  @change="onFileChange($event)">
                        </div>
                        <div class="flex justify-between items-center text-gray-400"> <span>Aceitamos imagens: .jpeg, .jpg e .png</span>  </div>
                    </div>
                    <div v-else>
                        <img style="max-height: 400px" class="w-100 rounded" id="preview" :src="noticia.imagem" />

                        <Button label="Remover Imagem" icon="pi pi-trash" @click="noticia.imagem = null" />
                    </div>
                </div>
            </template>

            <template #footer>
                <Button label="Atualizar" v-if="editando" @click="update()"/>
                <Button label="Salvar" v-else @click="store()" />
            </template>
        </Modal>
        <Modal :show="modalExcluir" @close="modalExcluir = false">

            <template #content>
                <h3>Deseja realmente excluir esta notícia?</h3>
            </template>

            <template #footer>
                <Button label="Não" @click.native="modalExcluir = false; deletar = false" class="p-button-success p-button-outlined"  />
                <Button label="Excluir" @click="destroy(deletar)" class="p-button-danger"/>

            </template>
        </Modal>
    </app-layout>
</template>

<script>


import AppLayout from '@/Layouts/AppLayout'
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import Button from "primevue/button";
import moment from 'moment';
import Modal from '../../Jetstream/DialogModal'
import InputText from 'primevue/inputtext'
import TextArea from 'primevue/textarea'
import Quill from 'quill'
var ColorClass = Quill.import('attributors/class/color');
var SizeStyle = Quill.import('attributors/style/size');
var AlignStyle = Quill.import('attributors/style/align');
Quill.register(ColorClass, true);
Quill.register(SizeStyle, true);
Quill.register(AlignStyle, true);

export default {
    components: {
        AppLayout,
        DataTable,
        Column,
        Button,
        Modal,
        InputText,
        TextArea,
    },
    data(){
        return {
            modalExcluir: false,
            deletar: null,
            modal: false,
            editando: false,
            noticias: null,
            noticia: {
                titulo: null,
                sub_titulo: null,
                noticia: null,
                user_id: null,
                imagem: null
            },
            imagem_upload: []
        }
    },
    methods: {
        onEditorChange({ quill, html, text }) {
            this.noticia.noticia = html
        },
        onFileChange(e) {
            this.imagem_upload = e.target.files
            for (let i = 0; i < this.imagem_upload.length; i++) {
                this.imagem_upload[i].objectURL = URL.createObjectURL(this.imagem_upload[i]);
            }
        },
        openModal(id = null){
            this.editando = false
            this.noticia = {
                titulo: null,
                sub_titulo: null,
                noticia: null,
                user_id: null,
                imagem: null
            }
            if(id){
                this.editando = true
                this.buscar(id)
            } else {
                this.editando = false
            }

            this.modal ? this.modal = false : this.modal = true
        },
        openModalExcluir(id){
            this.deletar = id
            this.modalExcluir ? this.modalExcluir = false : this.modalExcluir = true
        },
        listar(){
            axios.get('/painel/listarNoticias',{
                headers: { 'Cache-Control': 'no-cache' },
            }).then((res) => {
                this.noticias = res.data.data
            }).catch((res) => {

            })
        },
        buscar(id){
            axios.get('/painel/noticias/'+id).then((res) => {
                this.noticia = res.data.data
            }).catch((res) => {

            })
        },
        store(){
            var formData = new FormData()
            formData.append("imagem_upload", this.imagem_upload[0]);
            formData.append("titulo", this.noticia.titulo);
            formData.append("sub_titulo", this.noticia.sub_titulo);
            formData.append("noticia", this.noticia.noticia);
            axios.post('/painel/noticias', formData).then((res) => {
                this.noticia = res.data.data
                this.editando = true
                this.listar()
                this.$toast.add({severity:'success', summary: 'Notícia cadastrada', life: 3000});
            }).catch((res) => {

            })
        },
        update(){
            var formData = new FormData()
            formData.append('_method','PUT')
            formData.append("imagem_upload", this.imagem_upload[0]);
            formData.append("titulo", this.noticia.titulo);
            formData.append("sub_titulo", this.noticia.sub_titulo);
            formData.append("noticia", this.noticia.noticia);
            axios.post('/painel/noticias/'+this.noticia.id, formData).then((res) => {
                this.noticia = res.data.data
                this.editando = true
                this.listar()
                this.$toast.add({severity:'success', summary: 'Notícia atualizada', life: 3000});
            }).catch((res) => {

            })
        },
        destroy(){
            axios.delete('/painel/noticias/'+this.deletar).then((res) => {
                this.deletar = null
                this.modalExcluir = false
                this.noticia = {
                    titulo: null,
                    sub_titulo: null,
                    noticia: null,
                    user_id: null,
                    imagem: null
                }
                this.listar()
            }).catch((res) => {
                this.deletar = null
                this.modalExcluir = false
                this.noticia = {
                    titulo: null,
                    sub_titulo: null,
                    noticia: null,
                    user_id: null,
                    imagem: null
                }
            })
        }
    },
    beforeMount() {
        this.listar()
    }
}
</script>
