<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Slides
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <div class="p-2">
                        <Button label="Novo Slide" icon="pi pi-plus" @click="modal()"  />
                    </div>
                    <div class="p-2">
                        <DataTable :value="slides" :paginator="true" :rows="10"
                                   paginatorTemplate="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
                                   :rowsPerPageOptions="[10,20,50]"
                                   currentPageReportTemplate="Mostrando {first} à {last} de {totalRecords}"
                                   @row-click="modal($event.data.id)">
                            <Column header="Imagem" headerStyle="width: 20%">
                                <template #body="slotProps">
                                    <div class="h-32" :style="'background-image: url('+slotProps.data.imagem+'); background-position: center; background-size: cover'">

                                    </div>
                                </template>
                            </Column>
                            <Column header="Titulo" field="titulo" headerStyle="width: 60%">

                            </Column>
                            <Column header="Criado em" headerStyle="width: 20%">
                                <template #body="slotProps">
                                    {{ moment(slotProps.data.created_at).format('DD/MM/YYYY HH:MM:ss') }}
                                </template>
                            </Column>
                            <template #empty>
                                Não encontramos slides cadastrados
                            </template>
                            <template #loading>
                                Buscando slides, aguarde...
                            </template>
                        </DataTable>
                    </div>
                </div>
            </div>
        </div>
        <Modal :show="display" @close="display = false">
            <template #title>
                <h3 v-if="editing">Editar slide</h3>
                <h3 v-else>Novo Slide</h3>
            </template>
            <template #content>
                <div class="grid grid-cols-12 gap-1">
                    <div class="col-span-6 p-4">
                        <div v-if="imagem_upload.length > 0">
                            <img class="w-100" id="preview" :src="imagem_upload[0].objectURL" />

                            <Button label="Remover Imagem Principal" icon="pi pi-trash" @click="imagem_upload = []" />
                        </div>
                        <div class="mb-2"  v-else-if="slide.imagem == null || slide.imagem == 'null'"> <span>Imagem</span>
                            <div class="relative h-60 rounded-lg border-dashed border-2 border-gray-200 bg-white flex justify-center items-center hover:cursor-pointer">
                                <div class="absolute">
                                    <div class="flex flex-col items-center "> <i class="fa fa-cloud-upload fa-3x text-gray-200"></i> <span class="block text-gray-400 font-normal">Faça o upload da imagem</span> <span class="block text-gray-400 font-normal">or</span> <span class="block text-blue-400 font-normal">Procurar imagem</span> </div>
                                </div> <input id="imagem" type="file" class="h-full w-full opacity-0" name=""  @change="onFileChange($event)">
                            </div>
                            <div class="flex justify-between items-center text-gray-400"> <span>Aceitamos imagens: .jpeg, .jpg e .png</span>  </div>
                        </div>
                        <div v-else>
                            <img class="w-100 rounded" id="preview" :src="slide.imagem" />

                            <Button label="Remover Imagem" icon="pi pi-trash" @click="slide.imagem = null" />
                        </div>
                    </div>
                    <div class="col-span-6 p-4">
                        <div v-if="imagem_upload_mob.length > 0">
                            <img class="w-100" id="preview" :src="imagem_upload_mob[0].objectURL" />

                            <Button label="Remover Imagem Principal" icon="pi pi-trash" @click="imagem_upload_mob = []" />
                        </div>
                        <div class="mb-2"  v-else-if="slide.imagem_mob == null || slide.imagem_mob == 'null'"> <span>Imagem (Mobile)</span>
                            <div class="relative h-60 rounded-lg border-dashed border-2 border-gray-200 bg-white flex justify-center items-center hover:cursor-pointer">
                                <div class="absolute">
                                    <div class="flex flex-col items-center "> <i class="fa fa-cloud-upload fa-3x text-gray-200"></i> <span class="block text-gray-400 font-normal">Faça o upload da imagem</span> <span class="block text-gray-400 font-normal">or</span> <span class="block text-blue-400 font-normal">Procurar imagem</span> </div>
                                </div> <input id="imagem_mob" type="file" class="h-full w-full opacity-0" name=""  @change="onFileMobChange($event)">
                            </div>
                            <div class="flex justify-between items-center text-gray-400"> <span>Aceitamos imagens: .jpeg, .jpg e .png</span>  </div>
                        </div>
                        <div v-else>
                            <img class="w-100 rounded" id="preview" :src="slide.imagem_mob" />

                            <Button label="Remover Imagem" icon="pi pi-trash" @click="slide.imagem_mob = null" />
                        </div>
                    </div>
                    <div class="col-span-12 p-4">
                        <div class="grid grid-cols-12 gap-1">
                            <div class="col-span-6 py-4">
                    <span class="p-float-label">
                        <InputText class="w-full" id="titulo" type="text" v-model="slide.titulo" />
                        <label for="titulo">Título</label>
                    </span>
                            </div>
                            <div class="col-span-6 py-4">
                    <span class="p-float-label">
                        <InputText class="w-full" id="url" type="text" v-model="slide.url" />
                        <label for="url">URL </label>
                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
                <template #footer>
                    <Button v-if="editing" label="Excluir" icon="pi pi-trash" class="p-button-danger" autofocus @click="destroy($event)" />
                    <Button v-if="editing" label="Atualizar" icon="pi pi-check" autofocus @click="update" />
                    <Button v-else label="Salvar" icon="pi pi-check" autofocus @click="store" />
                </template>
        </Modal>
    </app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout'
import DataTable from 'primevue/datatable'
import Column from "primevue/column";
import InputText from "primevue/inputtext";
import Button from 'primevue/button'
import Dialog from 'primevue/dialog'
import Modal from '../../Jetstream/DialogModal'
export default {
    components: {
        AppLayout,
        DataTable,
        Column,
        InputText,
        Button,
        Modal
    },
    data(){
        return {
            loading: false,
            slides:[],
            slide:{},
            filtro:{
            },
            editing: false,
            display: false,
            errors: [],
            imagem_upload: [],
            imagem_upload_mob: []

        }
    },
    mounted(){
        this.listar()
    },
    methods: {
        modal(id = null){
            if(id){
                this.buscar(id)
            } else {
                this.slide = {}
                this.imagem_upload = []
                this.imagem_upload_mob = []
                this.editing = false
                this.display = true
            }
        },

        onFileChange(e) {
            this.imagem_upload = e.target.files
            for (let i = 0; i < this.imagem_upload.length; i++) {
                this.imagem_upload[i].objectURL = URL.createObjectURL(this.imagem_upload[i]);
            }
        },
        onFileMobChange(e) {
            this.imagem_upload_mob = e.target.files
            for (let i = 0; i < this.imagem_upload_mob.length; i++) {
                this.imagem_upload_mob[i].objectURL = URL.createObjectURL(this.imagem_upload_mob[i]);
            }
        },
        listar(){
            axios.get('/painel/listarSlides').then((res) => {
                this.slides = res.data.data
            })
        },
        store(){
            let formData = new FormData()
            Object.entries(this.slide).map((item, key) => {
                formData.append(item[0], item[1])
            })
            formData.append("imagem_upload", this.imagem_upload[0]);
            formData.append("imagem_upload_mob", this.imagem_upload_mob[0]);
            axios.post('/painel/slides', formData).then((res) =>{
                this.$toast.add({severity:'success', summary: 'Slide cadastrado', life: 3000});
                this.display = false
                this.listar()
            }).catch((res) => {
                console.log(res.response)
                if(res.response.data.message){
                    this.$toast.add({severity:'warn', summary: 'Oops!', detail: res.response.data.message, life: 3000});
                }
                if(res.response.data.errors){
                    this.errors = res.response.data.errors
                }
            });
        },
        update(){
            let formData = new FormData()
            Object.entries(this.slide).map((item, key) => {
                formData.append(item[0], item[1])
            })
            formData.append('_method','PUT')
            if(this.imagem_upload){
                formData.append("imagem_upload", this.imagem_upload[0]);

            }
            if(this.imagem_upload_mob){
                formData.append("imagem_upload_mob", this.imagem_upload_mob[0]);

            }
            axios.post('/painel/slides/'+this.slide.id, formData).then((res) =>{
                this.$toast.add({severity:'success', summary: 'Slide atualizado', life: 3000});
                this.display = false
                this.listar()
            }).catch((res) => {
                if(res.response.data.message){
                    this.$toast.add({severity:'warn', summary: 'Oops!', detail: res.response.data.message, life: 3000});
                }
                if(res.response.data.errors){
                    this.errors = res.response.data.errors
                }
            });
        },
        buscar(id){
            axios.get('/painel/slides/'+id).then((res) =>{
                this.imagens_upload = []
                this.imagem_upload = []
                this.slide = res.data.data
                this.display = true
                this.editing = true
            }).catch((res) => {
                console.log(res.response)
                if(res.response.data.message){
                    this.$toast.add({severity:'warn', summary: 'Oops!', detail: res.response.data.message, life: 3000});
                }
                if(res.response.data.errors){
                    this.errors = res.response.data.errors
                }
            });
        },

        destroy(event){
            this.$confirm.require({
                target: event.currentTarget,
                message: 'Deseja realmente excluir este slide?',
                icon: 'pi pi-exclamation-triangle',

                accept: () => {
                    axios.delete('/painel/slides/'+this.slide.id).then((res) =>{

                        this.listar()
                        this.display = false
                        this.editing = false
                        this.$toast.add({severity:'success', summary: 'Slide excluído', life: 3000});
                    }).catch((res) => {
                        console.log(res.response)
                        if(res.response.data.message){
                            this.$toast.add({severity:'warn', summary: 'Oops!', detail: res.response.data.message, life: 3000});
                        }
                        if(res.response.data.errors){
                            this.errors = res.response.data.errors
                        }
                    });
                },
                reject: () => {
                    //callback to execute when user rejects the action
                }
            });


        }
    }
}
</script>
