    <template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Currículos
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                        <DataTable :value="mensagens" :paginator="true" :rows="10"
                                   paginatorTemplate="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
                                   :rowsPerPageOptions="[10,20,50]"
                                   currentPageReportTemplate="Mosrtnado {first} à {last} de {totalRecords}">
                            <Column field="created_at" header="Data">
                                <template #body="slotProps">
                                    {{ slotProps.data.created_at | formatoData }}
                                </template>
                            </Column>
                            <Column field="nome" header="Nome"></Column>
                            <Column field="email" header="E-mail"></Column>
                            <Column field="telefone" header="Telefone"></Column>
                            <Column header="Ações" headerStyle="width: 7%">
                                <template #body="slotProps">
                                    <a href="#" @click="openModal(slotProps.data.id)" style="color: #0d536e"><i class="fa fa-eye"></i></a>
                                    <a href="#" @click="openModalExcluir(slotProps.data.id)" style="color: #e50202"><i class="fa fa-trash"></i></a>
                                </template>
                            </Column>
                            <template #empty>
                                Não encontramos mensagens recebidas
                            </template>
                            <template #loading>
                                Buscando mensagens, aguarde...
                            </template>
                        </DataTable>
                    </div>
                </div>
            </div>
        </div>
        <Modal ref="Modal" :show="modal" @close="modal = false">
            <template #content>

                    <b>Nome:</b> {{ curriculo.nome }}<br />
                    <b>E-mail:</b> {{ curriculo.email }}<br />
                    <b>Data de Nascimento:</b> {{ curriculo.data_nascimento | formatoData2 }}<br />
                    <b>Sexo:</b> {{ curriculo.sexo }}<br /><br />
                    <b>CEP:</b> {{ curriculo.cep }}<br />
                    <b>Endereço:</b> {{ curriculo.endereco }}<br />
                    <b>Número:</b> {{ curriculo.numero }}<br />
                    <b>Bairro:</b> {{  curriculo.bairro }}<br />
                    <b>Telefone:</b> {{curriculo.telefone }}<br/><br />
                    <b>Escolaridade:</b> {{ curriculo.escolaridade }}<br />
                    <b>Estuda Atualmente:</b> {{  curriculo.estuda_atualmente }}<br />
                    <b>Cursos Realizados:</b> {{ curriculo.cursos_realizados }}<br />
                    <b>Área de Interesse:</b> {{ curriculo.area_interesse }}<br/>
                    <b>Horário de Interesse:</b> {{ curriculo.horario_interesse }}<br/>
                    <b>Motivação:</b> {{curriculo.motivacao }}<br /><br />
                    <h2 class="text-center font-weight-bold">Última referência profissional:</h2>
                    <b>Nome da Empresa:</b> {{ curriculo.nome_empresa }}<br />
                    <b>Contato:</b> {{ curriculo.contato }}<br />
                    <b>Função:</b> {{ curriculo.sua_funcao }}<br />
                    <b>Trabalhou de:</b> {{ curriculo.trabalhou_de | formatoData2 }}<br />
                    <b>Trabalhou até:</b> {{ curriculo.trabalhou_ate | formatoData2 }}<br />
                    <b>Último Salário:</b> {{ curriculo.ultimo_salario }}<br /><br />
                    <span v-if="curriculo.anexo"><b>Anexo:</b> <a :href="curriculo.anexo">Abrir arquivo</a></span><br />


            </template>
            <template #footer>
                <Button label="Fechar" @click.native="modal = false" class="p-button-success p-button-outlined"  />

            </template>
        </Modal>
        <Modal ref="ModalExcluir" :show="modalExcluir" @close="modalExcluir = false">

            <template #content>
                <h3>Deseja realmente excluir esta mensagem?</h3>
            </template>

            <template #footer>
                <Button label="Não" @click.native="modalExcluir = false; deletar = false" class="p-button-success p-button-outlined"  />
                <Button label="Excluir" @click="destroy(deletar)" class="p-button-danger"/>

            </template>
        </Modal>
    </app-layout>
</template>

<script>

import AppLayout from '@/Layouts/AppLayout'
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import Button from "primevue/button";
import moment from 'moment';

import Modal from '../../Jetstream/DialogModal'
export default {
    components: {
        AppLayout,
        DataTable,
        Column,
        Button,
        Modal
    },
    data(){
        return {
            modalExcluir: false,
            deletar: null,
            mensagens: null,
            modal: false,
            curriculo: {
                nome: null,
                email: null,
                data_nascimento: null,
                sexo: null,
                cep: null,
                endereco: null,
                numero: null,
                bairro: null,
                telefone: null,
                escolaridade: null,
                estuda_atualmente: null,
                cursos_realizados: null,
                area_interesse: null,
                horario_interesse: null,
                motivacao: null,
                nome_empresa: null,
                contato: null,
                sua_funcao: null,
                trabalhou_de: null,
                trabalhou_ate: null,
                ultimo_salario: null,
                anexo: null,
            }
        }
    },
    filters: {
        formatoData(data){
            return moment(data).format('DD/MM/YYYY HH:MM:SS')
        },
        formatoData2(data){
            return moment(data).format('DD/MM/YYYY')
        }
    },
    methods: {
        openModal(id){
            axios.get('/painel/curriculos/'+id).then((res) => {
                this.curriculo = res.data.data
                this.modal = true
            })
        },
        openModalExcluir(id){
            this.deletar = id
            this.modalExcluir ? this.modalExcluir = false : this.modalExcluir = true
        },
        listar(){
            axios.get('/painel/listarCurriculos',{
                headers: { 'Cache-Control': 'no-cache' },
            }).then((res) => {
                this.mensagens = res.data.data
            }).catch((res) => {

            })
        },
        destroy(){
            axios.delete('/painel/curriculos/'+this.deletar).then((res) => {
                this.deletar = null
                this.modalExcluir = false
                this.listar()
            }).catch((res) => {
                this.deletar = null
                this.modalExcluir = false
            })
        }
    },
    beforeMount() {
        this.listar()
    }
}
</script>

