<template>
    <div class="page-area-cliente position-relative">

        <div class="social d-none d-md-block d-lg-block">
            <div class="facebook">
                <a :href="$page.dados.facebook" class="facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="instagram">
                <a :href="$page.dados.facebook" class="instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="section menu-left">
            <div class="menu-institucional">
                <inertia-link :href="route('site.recepcao.institucional')">
                    <svg id="Componente_4_2" data-name="Componente 4 – 2" xmlns="http://www.w3.org/2000/svg" width="38.047" height="35.298" viewBox="0 0 38.047 35.298">
                        <path id="Caminho_6" data-name="Caminho 6" d="M35.261,18.5H2.787A2.79,2.79,0,0,0,0,21.287V45.809A2.79,2.79,0,0,0,2.787,48.6H14.681l-.671,2.348A2.576,2.576,0,0,1,11.7,52.683h-4.2a.557.557,0,1,0,0,1.115H30.542a.557.557,0,1,0,0-1.115h-4.2a2.576,2.576,0,0,1-2.306-1.739L23.367,48.6H35.261a2.79,2.79,0,0,0,2.787-2.787V21.287A2.79,2.79,0,0,0,35.261,18.5ZM2.787,19.615H35.261a1.674,1.674,0,0,1,1.672,1.672V40.793H1.115V21.287A1.674,1.674,0,0,1,2.787,19.615ZM22.966,51.25a3.4,3.4,0,0,0,.855,1.433H14.226a3.4,3.4,0,0,0,.855-1.433L15.84,48.6h6.367Zm12.3-3.769H2.787a1.674,1.674,0,0,1-1.672-1.672v-3.9H36.933v3.9A1.674,1.674,0,0,1,35.261,47.481Z" transform="translate(0 -18.5)" fill="#abbbe1"/>
                        <path id="Caminho_7" data-name="Caminho 7" d="M30.557,67.449H63.031a.557.557,0,0,0,.557-.557V49.057a.557.557,0,0,0-.557-.557H30.557a.557.557,0,0,0-.557.557v7.8a.557.557,0,0,0,1.115,0V49.615H62.474v16.72H31.115V59.089a.557.557,0,1,0-1.115,0v7.8A.557.557,0,0,0,30.557,67.449Z" transform="translate(-27.771 -46.271)" fill="#abbbe1"/>
                        <path id="Caminho_8" data-name="Caminho 8" d="M235.172,348.5a1.672,1.672,0,1,0,1.672,1.672A1.674,1.674,0,0,0,235.172,348.5Zm0,2.229a.557.557,0,1,1,.557-.557A.558.558,0,0,1,235.172,350.729Z" transform="translate(-216.148 -323.977)" fill="#abbbe1"/>
                    </svg>

                </inertia-link>
            </div>
            <div class="menu-ecommerce">
                <inertia-link :href="route('site.recepcao.ecommerce')">
                    <svg id="Componente_3_2" data-name="Componente 3 – 2" xmlns="http://www.w3.org/2000/svg" width="38.333" height="32.783" viewBox="0 0 38.333 32.783">
                        <path id="Caminho_3" data-name="Caminho 3" d="M10.708,60.322h22.01a1.136,1.136,0,0,0,1.088-.812l4.479-15.04A1.136,1.136,0,0,0,37.2,43.01H8.295L6.766,37.878a1.136,1.136,0,0,0-1.088-.811H1.136a1.136,1.136,0,1,0,0,2.271h3.7l1.521,5.107c0,.017.01.034.015.05l4.04,13.567a4.435,4.435,0,0,0,.3,8.861h1.127a4.062,4.062,0,0,0,7.8,0h6.026a4.062,4.062,0,0,0,7.8,0h1.463a1.136,1.136,0,1,0,0-2.271H33.463a4.062,4.062,0,0,0-7.8,0H19.636a4.062,4.062,0,0,0-7.8,0H10.708a2.165,2.165,0,0,1,0-4.329Zm16.66-15.04h8.306L34.111,50.53H27.368Zm0,7.52h6.066L31.871,58.05h-4.5Zm-8.4-7.52H25.1V50.53H18.965Zm0,7.52H25.1V58.05H18.965ZM16.694,58.05H12.774L11.211,52.8h5.483ZM8.971,45.281h7.722V50.53H10.535ZM29.563,63.995a1.792,1.792,0,1,1-1.792,1.792A1.794,1.794,0,0,1,29.563,63.995Zm-13.827,0a1.792,1.792,0,1,1-1.792,1.792A1.794,1.794,0,0,1,15.736,63.995Z" transform="translate(0 -37.067)" fill="#abbade"/>
                    </svg>

                </inertia-link>
            </div>
        </div>
        <div class="section area-cliente">
            <div class="background-img"></div>
            <div class="background-color"></div>
            <div class="container position-relative  min-vh-100" style="z-index: 999;">
                <div class="row min-vh-100 align-items-center conteudo">
                    <div class="col-md-4 text-center d-none d-md-block d-lg-block">
                        <inertia-link :href="route('site.recepcao.institucional')">Área do Cliente</inertia-link>
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12 p-4 text-center">
                                <img class="w-100 d-none d-lg-block d-md-block" style="max-width: 1048px" src="/imagens/recepcao/pexels-photo-3184465.png">
                                <img class="w-100 d-block d-lg-none d-md-none" style="max-width: 1048px" src="/imagens/recepcao/Grupo -2.png">
                            </div>
                            <div class="col-md-11 p-4 pt-5">
                                <h1 class="mb-3">Área do Cliente
                                </h1>
                                <p class="texto">Esse é o lugar de quem sempre esteve e está do nosso lado.
                                    Acesse sua área do cliente e conheça esse novo espaço feito exclusivamente para você. </p>
                            </div>
                            <div class="col-md-4 text-center d-block d-lg-none d-md-none" style="z-index: 99999">
                                <inertia-link :href="route('site.index')">Acessar E-commerce</inertia-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {

        }
    }
}
</script>
