<template>
    <div class="page-ecommerce position-relative">
        <div class="social d-none d-md-block d-lg-block">
            <div class="facebook">
                <a :href="$page.dados.facebook" class="facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="instagram">
                <a :href="$page.dados.facebook" class="instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="section menu-left">
            <div class="menu-institucional">
                <inertia-link :href="route('site.recepcao.institucional')">
                    <svg id="Componente_4_2" data-name="Componente 4 – 2" xmlns="http://www.w3.org/2000/svg" width="38.047" height="35.298" viewBox="0 0 38.047 35.298">
                        <path id="Caminho_6" data-name="Caminho 6" d="M35.261,18.5H2.787A2.79,2.79,0,0,0,0,21.287V45.809A2.79,2.79,0,0,0,2.787,48.6H14.681l-.671,2.348A2.576,2.576,0,0,1,11.7,52.683h-4.2a.557.557,0,1,0,0,1.115H30.542a.557.557,0,1,0,0-1.115h-4.2a2.576,2.576,0,0,1-2.306-1.739L23.367,48.6H35.261a2.79,2.79,0,0,0,2.787-2.787V21.287A2.79,2.79,0,0,0,35.261,18.5ZM2.787,19.615H35.261a1.674,1.674,0,0,1,1.672,1.672V40.793H1.115V21.287A1.674,1.674,0,0,1,2.787,19.615ZM22.966,51.25a3.4,3.4,0,0,0,.855,1.433H14.226a3.4,3.4,0,0,0,.855-1.433L15.84,48.6h6.367Zm12.3-3.769H2.787a1.674,1.674,0,0,1-1.672-1.672v-3.9H36.933v3.9A1.674,1.674,0,0,1,35.261,47.481Z" transform="translate(0 -18.5)" fill="#abbbe1"/>
                        <path id="Caminho_7" data-name="Caminho 7" d="M30.557,67.449H63.031a.557.557,0,0,0,.557-.557V49.057a.557.557,0,0,0-.557-.557H30.557a.557.557,0,0,0-.557.557v7.8a.557.557,0,0,0,1.115,0V49.615H62.474v16.72H31.115V59.089a.557.557,0,1,0-1.115,0v7.8A.557.557,0,0,0,30.557,67.449Z" transform="translate(-27.771 -46.271)" fill="#abbbe1"/>
                        <path id="Caminho_8" data-name="Caminho 8" d="M235.172,348.5a1.672,1.672,0,1,0,1.672,1.672A1.674,1.674,0,0,0,235.172,348.5Zm0,2.229a.557.557,0,1,1,.557-.557A.558.558,0,0,1,235.172,350.729Z" transform="translate(-216.148 -323.977)" fill="#abbbe1"/>
                    </svg>
                </inertia-link>
            </div>
        </div>
        <div class="section ecommerce">
            <div class="background-img"></div>
            <div class="background-color"></div>
            <div class="container position-relative  min-vh-100" style="z-index: 999;">
                <div class="row min-vh-100 align-items-center conteudo">
                    <div class="col-md-4 text-center d-none d-md-block d-lg-block">
                        <inertia-link :href="route('site.recepcao.institucional')">Acessar E-commerce</inertia-link>
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12  text-center">
                                <img class="w-100 d-none d-lg-block d-md-block" style="max-width: 1048px" src="/imagens/recepcao/home.png">
                                <img class="w-100 d-block d-lg-none d-md-none" style="max-width: 1048px" src="/imagens/recepcao/Grupo -1.png">
                            </div>
                            <div class="col-md-11 pt-5">
                                <h1 class="mb-3">E-commerce</h1>
                                <p class="texto">Este é o seu novo lugar de conhecer e adquirir produtos e acabamentos com a qualidade que só a Injetec tem. Descubra todo o universo de acabamentos e escolha aquele que tem a sua cara.  </p>
                            </div>
                            <div class="col-md-4 text-center d-block d-lg-none d-md-none mt-5">
                                <inertia-link :href="route('site.index')">Acessar E-commerce</inertia-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="section menu-right">

            <div class="menu-area-cliente">
                <inertia-link :href="route('site.recepcao.areaCliente')">
                    <svg id="user" xmlns="http://www.w3.org/2000/svg" width="37.006" height="42.104" viewBox="0 0 37.006 42.104">
                        <g id="Grupo_6" data-name="Grupo 6" transform="translate(7.401)">
                            <g id="Grupo_5" data-name="Grupo 5">
                                <path id="Caminho_4" data-name="Caminho 4" d="M132.1,0a11.1,11.1,0,1,0,11.1,11.1A11.114,11.114,0,0,0,132.1,0Zm0,19.736a8.635,8.635,0,1,1,8.635-8.635A8.644,8.644,0,0,1,132.1,19.736Z" transform="translate(-121)" fill="#abbade"/>
                            </g>
                        </g>
                        <g id="Grupo_8" data-name="Grupo 8" transform="translate(0 24.753)">
                            <g id="Grupo_7" data-name="Grupo 7">
                                <path id="Caminho_5" data-name="Caminho 5" d="M52.943,301h-6.88A17.831,17.831,0,0,0,31,309.261v9.09H68.006v-9.09A17.835,17.835,0,0,0,52.943,301Zm12.6,14.885H33.467v-5.869a15.354,15.354,0,0,1,12.6-6.549h6.88a15.354,15.354,0,0,1,12.6,6.549Z" transform="translate(-31 -301)" fill="#abbade"/>
                            </g>
                        </g>
                    </svg>

                </inertia-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {

        }
    }
}
</script>
