<template>
    <div class="recepcao">
        <div class="social d-none d-md-block d-lg-block">
            <div class="facebook">
                <a :href="$page.dados.facebook" class="facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="instagram">
                <a :href="$page.dados.facebook" class="instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <inertia-link :href="route('site.recepcao.institucional')">
        <div class="section hpanel leftpan">

            <div class="background-img">
                <div class="content-area">
                    <div class="btn-area">
                        <inertia-link :href="route('site.recepcao.institucional')">Acessar site<br>Institucional</inertia-link>
                    </div>
                </div>
            </div>
        </div>
        </inertia-link>
        <inertia-link :href="route('site.recepcao.ecommerce')">
        <div class="section hpanel centerpan">
            <div class="background-img">
                <div class="content-area">
                    <div class="btn-area dark">

                        <!--inertia-link :href="route('site.recepcao.ecommerce')">Acessar<br>E-commerce</inertia-link-->
                        <inertia-link><span class="text-gray">Acessar<br>E-commerce</span><br><br>Em breve</inertia-link>
                    </div>
                </div>
            </div>
        </div>
        </inertia-link>
        <inertia-link :href="route('site.recepcao.areaCliente')">
        <div class="section hpanel rightpan">
            <div class="background-img">
                <div class="content-area">
                    <div class="btn-area">
                        <!--inertia-link :href="route('site.recepcao.areaCliente')">Área do<br>Cliente</inertia-link-->
                        <inertia-link>Área do<br>Cliente<br><br>Em breve</inertia-link>
                    </div>
                </div>
            </div>
        </div>
        </inertia-link>
    </div>
</template>

<script>
    export default {
        data(){
            return {

            }
        }
    }
</script>

<style>
 body {
     overflow:hidden;
 }
</style>
