<template>
    <div class="page-institucional">
        <div class="back d-none d-md-block d-lg-block">
            <a href="/"><i class="fa fa-arrow-left"></i></a>
        </div>
        <div class="social d-none d-md-block d-lg-block">
            <div class="facebook">
                <a :href="$page.dados.facebook" class="facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="instagram">
                <a :href="$page.dados.facebook" class="instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="section institucional">

            <div class="background-img"></div>
            <div class="background-color"></div>
            <div class="container position-relative  min-vh-100" style="z-index: 999;">
                <div class="row min-vh-100 align-items-center conteudo">
                    <div class="col-md-4 text-center d-none d-md-block d-lg-block">
                        <inertia-link :href="route('site.index')">Acessar Institucional</inertia-link>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12 p-4 text-center">
                                <img class="w-100 d-none d-lg-block d-md-block" style="max-width: 1048px; border-radius: 20px" src="/imagens/recepcao/banner-site.png">
                                <img class="w-100 d-block d-lg-none d-md-none" style="max-width: 1048px; border-radius: 20px" src="/imagens/recepcao/banner-site-mob.png">
                            </div>
                            <div class="col-md-11 p-4 pt-5 pt-xs-0 conteudo-texto">
                                <h1 class="mb-3 text-uppercase">Site Institucional</h1>
                                <p class="texto">Somos uma empresa que carrega, com verdade e respeito, uma história construída na base dos seus principais valores. Transparência, Honestidade e Empatia, e assim construímos um legado para todos que fazem parte da INJETEC.</p>
                                <div class="text-center d-block d-lg-none d-md-none mt-5">
                                    <inertia-link :href="route('site.index')">Acessar Institucional</inertia-link>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="section menu-right">
            <div class="menu-ecommerce">
                <inertia-link :href="route('site.recepcao.ecommerce')">
                    <svg id="Componente_3_2" data-name="Componente 3 – 2" xmlns="http://www.w3.org/2000/svg" width="38.333" height="32.783" viewBox="0 0 38.333 32.783">
                        <path id="Caminho_3" data-name="Caminho 3" d="M10.708,60.322h22.01a1.136,1.136,0,0,0,1.088-.812l4.479-15.04A1.136,1.136,0,0,0,37.2,43.01H8.295L6.766,37.878a1.136,1.136,0,0,0-1.088-.811H1.136a1.136,1.136,0,1,0,0,2.271h3.7l1.521,5.107c0,.017.01.034.015.05l4.04,13.567a4.435,4.435,0,0,0,.3,8.861h1.127a4.062,4.062,0,0,0,7.8,0h6.026a4.062,4.062,0,0,0,7.8,0h1.463a1.136,1.136,0,1,0,0-2.271H33.463a4.062,4.062,0,0,0-7.8,0H19.636a4.062,4.062,0,0,0-7.8,0H10.708a2.165,2.165,0,0,1,0-4.329Zm16.66-15.04h8.306L34.111,50.53H27.368Zm0,7.52h6.066L31.871,58.05h-4.5Zm-8.4-7.52H25.1V50.53H18.965Zm0,7.52H25.1V58.05H18.965ZM16.694,58.05H12.774L11.211,52.8h5.483ZM8.971,45.281h7.722V50.53H10.535ZM29.563,63.995a1.792,1.792,0,1,1-1.792,1.792A1.794,1.794,0,0,1,29.563,63.995Zm-13.827,0a1.792,1.792,0,1,1-1.792,1.792A1.794,1.794,0,0,1,15.736,63.995Z" transform="translate(0 -37.067)" fill="#abbade"/>
                    </svg>

                </inertia-link>

            </div>
            <div class="menu-area-cliente">
                <inertia-link :href="route('site.recepcao.areaCliente')">
                    <svg id="user" xmlns="http://www.w3.org/2000/svg" width="37.006" height="42.104" viewBox="0 0 37.006 42.104">
                        <g id="Grupo_6" data-name="Grupo 6" transform="translate(7.401)">
                            <g id="Grupo_5" data-name="Grupo 5">
                                <path id="Caminho_4" data-name="Caminho 4" d="M132.1,0a11.1,11.1,0,1,0,11.1,11.1A11.114,11.114,0,0,0,132.1,0Zm0,19.736a8.635,8.635,0,1,1,8.635-8.635A8.644,8.644,0,0,1,132.1,19.736Z" transform="translate(-121)" fill="#abbade"/>
                            </g>
                        </g>
                        <g id="Grupo_8" data-name="Grupo 8" transform="translate(0 24.753)">
                            <g id="Grupo_7" data-name="Grupo 7">
                                <path id="Caminho_5" data-name="Caminho 5" d="M52.943,301h-6.88A17.831,17.831,0,0,0,31,309.261v9.09H68.006v-9.09A17.835,17.835,0,0,0,52.943,301Zm12.6,14.885H33.467v-5.869a15.354,15.354,0,0,1,12.6-6.549h6.88a15.354,15.354,0,0,1,12.6,6.549Z" transform="translate(-31 -301)" fill="#abbade"/>
                            </g>
                        </g>
                    </svg>

                </inertia-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {

        }
    }
}
</script>
