<template>
    <div class="site" id="wrapper">

        <!-- Sidebar -->
        <div class="border-right position-fixed" id="sidebar-wrapper">
            <button class="p-3 d-block d-lg-none d-md-none" style="float: right" type="button" @click="toggle" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="21.213" height="21.213" viewBox="0 0 21.213 21.213">
                    <g id="Grupo_44" data-name="Grupo 44" transform="translate(-380.893 -10.893)">
                        <rect id="Retângulo_29" data-name="Retângulo 29" width="27" height="3" rx="1.5" transform="translate(383.015 10.893) rotate(45)" fill="#fff"/>
                        <rect id="Retângulo_30" data-name="Retângulo 30" width="27" height="3" rx="1.5" transform="translate(402.107 13.015) rotate(135)" fill="#fff"/>
                    </g>
                </svg>

            </button>

            <div class="sidebar-heading text-center">
                <a href="/">
                    <img class="logo" src="/imagens/institucional/LOGO.png" />
                </a>

            </div>
            <div class="list-group list-group-flush">
                <a href="#" class="hidden-sidebar" @click="toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="127" viewBox="0 0 36 127">
                        <path id="Polígono_2" data-name="Polígono 2" d="M63.5,0,127,36H0Z" transform="translate(0 127) rotate(-90)" fill="#344497"/>
                    </svg>
                </a>

                <a :href="route('site.index')"
                   :class="route().current('site.index') ? 'active list-group-item list-group-item-action text-uppercase d-flex align-items-center' : 'list-group-item list-group-item-action text-uppercase d-flex align-items-center'">
                    <div class="icon pr-4 ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="47.818" height="41.228" viewBox="0 0 47.818 41.228">
                            <g id="puerta" transform="translate(0 -17.516)">
                                <path id="Caminho_28" data-name="Caminho 28" d="M68.255,137.1a1.411,1.411,0,0,0-1.411,1.411v14.5H59.06v-14.5a1.411,1.411,0,0,0-1.411-1.411H47.043a1.411,1.411,0,0,0-1.411,1.411v14.5H37.848v-14.5a1.411,1.411,0,0,0-2.822,0v15.909a1.411,1.411,0,0,0,1.411,1.411H68.255a1.411,1.411,0,0,0,1.411-1.411V138.513A1.411,1.411,0,0,0,68.255,137.1Zm-19.8,15.909V139.924h7.784v13.087Z" transform="translate(-28.436 -97.089)" fill="#fff"/>
                                <path id="Caminho_29" data-name="Caminho 29" d="M47.405,40.426l-22.5-22.5a1.411,1.411,0,0,0-2,0l-22.5,22.5a1.411,1.411,0,0,0,2,2l21.5-21.5,21.5,21.5a1.411,1.411,0,0,0,2-2Z" transform="translate(0)" fill="#fff"/>
                            </g>
                        </svg>
                    </div>
                     <span class="text-menu">Home</span>
                </a>
                <inertia-link :href="route('site.quemSomos')" :class="route().current('site.quemSomos') ? 'active list-group-item list-group-item-action text-uppercase d-flex align-items-center' : 'list-group-item list-group-item-action text-uppercase d-flex align-items-center'">
                    <div class="icon pr-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="38.189" height="33.406" viewBox="0 0 38.189 33.406">
                            <g id="Grupo_17" data-name="Grupo 17" transform="translate(16.464 0)">
                                <g id="Grupo_16" data-name="Grupo 16" transform="translate(0 0)">
                                    <path id="Caminho_31" data-name="Caminho 31" d="M240.086,50.663l-3.046-1.175-1.553-1.553a.557.557,0,0,0-.36-.162V46.537a5.769,5.769,0,0,0,1.463-2.882,1.6,1.6,0,0,0,.392-.031,1.656,1.656,0,0,0,1.285-1.642v-.408a1.677,1.677,0,0,0-.493-1.19c.494-2.687.087-4.876-1.182-6.342-1.227-1.417-3.205-2.095-5.719-1.959a7.493,7.493,0,0,0-4.3,1.585,2.947,2.947,0,0,0-1.151.391,2.977,2.977,0,0,0-1.362,2.769,13.97,13.97,0,0,0,.388,3.25,1.658,1.658,0,0,0-.911,1.5v.4a1.656,1.656,0,0,0,1.285,1.642,1.6,1.6,0,0,0,.392.031,5.77,5.77,0,0,0,1.463,2.882v1.236a.557.557,0,0,0-.359.162l-1.553,1.553-3.046,1.175a3.7,3.7,0,0,0-.748.392.559.559,0,1,0,.629.925,2.588,2.588,0,0,1,.522-.273l2.827-1.09,2.162,3.242a1.6,1.6,0,0,0,1.178.707c.053.005.107.008.16.008a1.6,1.6,0,0,0,.787-.208l-.464,10.522a.559.559,0,0,0,.534.584h.025a.559.559,0,0,0,.558-.535l.431-9.767h1.161l.431,9.767a.559.559,0,0,0,.558.535h.025a.559.559,0,0,0,.534-.584l-.464-10.522a1.6,1.6,0,0,0,.787.208c.053,0,.107,0,.16-.008a1.6,1.6,0,0,0,1.178-.707l2.162-3.242,2.827,1.09a2.575,2.575,0,0,1,1.006.7l-1.934,1.934a3.675,3.675,0,0,0-1.084,2.616v7.954a.559.559,0,1,0,1.119,0V56.958a2.564,2.564,0,0,1,.756-1.825l1.7-1.7a2.579,2.579,0,0,1,.089.782L240.9,64.889a.56.56,0,0,0,.536.582h.023a.559.559,0,0,0,.559-.537l.433-10.672A3.7,3.7,0,0,0,240.086,50.663Zm-13.773-7.239a1.089,1.089,0,0,0-1.133-.888.48.48,0,0,1-.13-.009.542.542,0,0,1-.39-.546v-.4a.53.53,0,0,1,.395-.532.486.486,0,0,1,.479.183.78.78,0,0,0,1.072.168,4.061,4.061,0,0,0,.917-.9.559.559,0,0,0-.9-.668,2.97,2.97,0,0,1-.436.471,1.6,1.6,0,0,0-.607-.324,12.866,12.866,0,0,1-.4-3.153,1.96,1.96,0,0,1,.785-1.789,1.816,1.816,0,0,1,.836-.268.565.565,0,0,0,.386-.155,6.3,6.3,0,0,1,3.744-1.416c2.156-.116,3.82.428,4.813,1.574s1.334,2.929.972,5.149a2.425,2.425,0,0,0-.477.033l-.526-1.262a.56.56,0,0,0-.658-.326c-.052.014-5.218,1.323-7.384-1.374a.559.559,0,1,0-.872.7c2.212,2.754,6.6,2.155,8.062,1.863l.406.976a.92.92,0,0,0,1.063.545,1.207,1.207,0,0,1,.419-.031.528.528,0,0,1,.4.525v.408a.542.542,0,0,1-.39.546.475.475,0,0,1-.13.009,1.09,1.09,0,0,0-1.133.888,4.668,4.668,0,0,1-9.182,0Zm2.482,9.889a.487.487,0,0,1-.75-.074l-2.178-3.266.876-.876,3.343,2.925Zm1.578.739.034-.769.5-.5.5.5.034.769Zm.531-2.8-3.1-2.716V47.464a5.79,5.79,0,0,0,6.208,0v1.071Zm2.86,1.988a.487.487,0,0,1-.75.074l-1.291-1.291,3.343-2.925.876.876Z" transform="translate(-220.729 -32.066)" fill="#fff"/>
                                </g>
                            </g>
                            <g id="Grupo_19" data-name="Grupo 19" transform="translate(0 0)">
                                <g id="Grupo_18" data-name="Grupo 18" transform="translate(0 0)">
                                    <path id="Caminho_32" data-name="Caminho 32" d="M17.741,53.592,15.009,52.4l-1.493-1.493a.556.556,0,0,0-.36-.162v-.88a5.778,5.778,0,0,0,2.51-3.762,1.608,1.608,0,0,0,.441-.042,1.665,1.665,0,0,0,1.235-1.631v-.408a1.668,1.668,0,0,0-.717-1.376,6.326,6.326,0,0,0,.193-1.55,6.522,6.522,0,0,0-3.141-5.531,3.627,3.627,0,0,0-3.7-3.5,3.627,3.627,0,0,0-3.7,3.5A6.523,6.523,0,0,0,3.14,41.1a6.326,6.326,0,0,0,.192,1.545,1.672,1.672,0,0,0-.716,1.386v.4a1.665,1.665,0,0,0,1.235,1.631,1.6,1.6,0,0,0,.441.042A5.778,5.778,0,0,0,6.8,49.864v.88a.556.556,0,0,0-.36.162L4.951,52.4,2.22,53.592A3.723,3.723,0,0,0,0,57.139l.33,7.794a.559.559,0,0,0,.559.536H.917a.559.559,0,0,0,.535-.583l-.33-7.794a2.576,2.576,0,0,1,.355-1.409l1.468,1.762a3.11,3.11,0,0,1,.719,1.987V64.91a.559.559,0,1,0,1.119,0V59.432a4.231,4.231,0,0,0-.979-2.7L2.243,54.855a2.536,2.536,0,0,1,.424-.238l2.381-1.039L6.73,56.309a1.083,1.083,0,0,0,1.625.256l1.066-.91v9.255a.559.559,0,1,0,1.119,0V55.655l1.066.91a1.083,1.083,0,0,0,1.625-.256l1.682-2.731,2.381,1.039a2.539,2.539,0,0,1,.424.238l-1.561,1.873a4.231,4.231,0,0,0-.979,2.7V64.91a.559.559,0,0,0,1.119,0V59.432a3.11,3.11,0,0,1,.719-1.987l1.468-1.762a2.576,2.576,0,0,1,.355,1.409l-.33,7.794a.559.559,0,0,0,.535.583h.024a.559.559,0,0,0,.559-.536l.33-7.794A3.723,3.723,0,0,0,17.741,53.592ZM9.98,33.182a2.563,2.563,0,0,1,2.491,1.788,7.094,7.094,0,0,0-4.982,0A2.563,2.563,0,0,1,9.98,33.182ZM5.389,45.872a1.09,1.09,0,0,0-1.133-.888.483.483,0,0,1-.146-.012.546.546,0,0,1-.374-.542v-.4a.53.53,0,0,1,.395-.532.486.486,0,0,1,.479.183.78.78,0,0,0,1.072.168,4.058,4.058,0,0,0,.905-.881.559.559,0,0,0-.895-.672,2.966,2.966,0,0,1-.427.459,1.6,1.6,0,0,0-.844-.372A5.21,5.21,0,0,1,4.259,41.1,5.6,5.6,0,0,1,9.98,35.637,5.6,5.6,0,0,1,15.7,41.1a5.208,5.208,0,0,1-.161,1.283,2.566,2.566,0,0,0-.435.072l-.421-.346a1.074,1.074,0,0,0-.746-.245c-.822.049-5.033.16-7.194-2.426a.559.559,0,1,0-.859.717,8,8,0,0,0,4.645,2.563,13.692,13.692,0,0,0,3.454.263l.656.539a.558.558,0,0,0,.636.052,1.234,1.234,0,0,1,.551-.073.528.528,0,0,1,.4.525v.408a.546.546,0,0,1-.374.542.478.478,0,0,1-.146.012,1.091,1.091,0,0,0-1.133.888,4.668,4.668,0,0,1-9.183,0Zm2.272,9.814L5.978,52.955l.862-.862L9.157,54.41Zm2.32-2.035L7.923,51.593V50.436a5.783,5.783,0,0,0,4.115,0v1.157Zm2.32,2.035L10.8,54.41l2.317-2.317.862.862Z" transform="translate(0 -32.063)" fill="#fff"/>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <span class="text-menu">Quem somos</span>
                </inertia-link>
                <a href="/institucional/#lancamentos" class="list-group-item list-group-item-action text-uppercase d-flex align-items-center">
                    <div class="icon pr-4">
                        <svg id="nuevo-producto" xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42">
                            <path id="Caminho_34" data-name="Caminho 34" d="M94.988,288H69.764l-2.71,5.419h2.451v12.194H95.247V293.419H97.7Zm-.838,1.355,1.355,2.71H84.827l-1.355-2.71Zm-23.55,0H81.28l-1.355,2.71H69.246Zm23.291,14.9H83.054v-4.742H81.7v4.742H70.86V293.419h9.9l.936-1.872v5.937h1.355v-5.937l.936,1.872h9.9Zm0,0" transform="translate(-61.376 -263.613)" fill="#fff"/>
                            <path id="Caminho_35" data-name="Caminho 35" d="M128,416h4.065v1.355H128Zm0,0" transform="translate(-117.161 -380.774)" fill="#fff"/>
                            <path id="Caminho_36" data-name="Caminho 36" d="M128,448h4.065v1.355H128Zm0,0" transform="translate(-117.161 -410.065)" fill="#fff"/>
                            <path id="Caminho_37" data-name="Caminho 37" d="M192,448h1.355v1.355H192Zm0,0" transform="translate(-175.742 -410.065)" fill="#fff"/>
                            <path id="Caminho_38" data-name="Caminho 38" d="M190.435,21.343l3.128-.8,3.128.8.245-3.359,1.662-2.839-2.939-1.272-2.1-2.592-2.1,2.592-2.939,1.272,1.662,2.839Zm1.876-6.36,1.253-1.548,1.253,1.549,1.841.8-1.048,1.79-.151,2.06-1.9-.483-1.9.482-.15-2.06-1.048-1.79Zm0,0" transform="translate(-172.564 -10.326)" fill="#fff"/>
                            <path id="Caminho_39" data-name="Caminho 39" d="M33.557,103.274l.984-1.681-1.744-.755-1.259-1.557-1.259,1.557-1.744.755.984,1.681.146,2,1.873-.476,1.874.477Zm-1.328-.413-.052.705-.639-.162-.639.162-.052-.705-.37-.633.646-.28.416-.513.415.514.646.28Zm0,0" transform="translate(-26.119 -90.874)" fill="#fff"/>
                            <path id="Caminho_40" data-name="Caminho 40" d="M401.557,103.274l.984-1.681-1.744-.755-1.259-1.557-1.259,1.557-1.744.755.984,1.681.146,2,1.873-.476,1.874.477Zm-1.328-.413-.052.705-.639-.162-.639.162-.052-.705-.37-.633.646-.28.415-.513.415.514.646.28Zm0,0" transform="translate(-362.958 -90.874)" fill="#fff"/>
                            <path id="Caminho_41" data-name="Caminho 41" d="M94.177,144.15a15.023,15.023,0,0,1,3.4,3.121l2.683,3.353-.555-4.439a8.7,8.7,0,0,0-3.4-5.851l-.649-.487-1.986,3.97Zm1.953-2.2a7.353,7.353,0,0,1,2.189,4.088,16.4,16.4,0,0,0-2.9-2.672Zm0,0" transform="translate(-85.747 -128.005)" fill="#fff"/>
                            <path id="Caminho_42" data-name="Caminho 42" d="M325.105,146.178l-.555,4.439,2.683-3.353a15.036,15.036,0,0,1,3.4-3.121l.5-.332-1.986-3.97-.649.488A8.7,8.7,0,0,0,325.105,146.178Zm4.288-2.821a16.353,16.353,0,0,0-2.9,2.672,7.356,7.356,0,0,1,2.189-4.088Zm0,0" transform="translate(-297.068 -127.998)" fill="#fff"/>
                            <path id="Caminho_43" data-name="Caminho 43" d="M280,135.506h1.355v-2.838a13.959,13.959,0,0,1,3.231-8.922l-1.041-.867A15.321,15.321,0,0,0,280,132.668Zm0,0" transform="translate(-256.29 -112.474)" fill="#fff"/>
                            <path id="Caminho_44" data-name="Caminho 44" d="M336,96h1.355v1.355H336Zm0,0" transform="translate(-307.548 -87.871)" fill="#fff"/>
                            <path id="Caminho_45" data-name="Caminho 45" d="M360,64h1.355v1.355H360Zm0,0" transform="translate(-329.516 -58.581)" fill="#fff"/>
                            <path id="Caminho_46" data-name="Caminho 46" d="M165.085,135.506h1.355v-2.838a15.323,15.323,0,0,0-3.544-9.789l-1.041.867a13.962,13.962,0,0,1,3.23,8.922Zm0,0" transform="translate(-148.15 -112.473)" fill="#fff"/>
                            <path id="Caminho_47" data-name="Caminho 47" d="M144,96h1.355v1.355H144Zm0,0" transform="translate(-131.806 -87.871)" fill="#fff"/>
                            <path id="Caminho_48" data-name="Caminho 48" d="M120,64h1.355v1.355H120Zm0,0" transform="translate(-109.839 -58.581)" fill="#fff"/>
                            <path id="Caminho_49" data-name="Caminho 49" d="M240,136h1.355v1.355H240Zm0,0" transform="translate(-219.677 -124.484)" fill="#fff"/>
                            <path id="Caminho_50" data-name="Caminho 50" d="M240,168h1.355v8.806H240Zm0,0" transform="translate(-219.677 -153.774)" fill="#fff"/>
                            <path id="Caminho_51" data-name="Caminho 51" d="M464,216h1.355v1.355H464Zm0,0" transform="translate(-424.71 -197.71)" fill="#fff"/>
                            <path id="Caminho_52" data-name="Caminho 52" d="M464,248h1.355v1.355H464Zm0,0" transform="translate(-424.71 -227)" fill="#fff"/>
                            <path id="Caminho_53" data-name="Caminho 53" d="M480,232h1.355v1.355H480Zm0,0" transform="translate(-439.355 -212.355)" fill="#fff"/>
                            <path id="Caminho_54" data-name="Caminho 54" d="M448,232h1.355v1.355H448Zm0,0" transform="translate(-410.065 -212.355)" fill="#fff"/>
                            <path id="Caminho_55" data-name="Caminho 55" d="M440,0h1.355V1.355H440Zm0,0" transform="translate(-402.742)" fill="#fff"/>
                            <path id="Caminho_56" data-name="Caminho 56" d="M440,32h1.355v1.355H440Zm0,0" transform="translate(-402.742 -29.29)" fill="#fff"/>
                            <path id="Caminho_57" data-name="Caminho 57" d="M456,16h1.355v1.355H456Zm0,0" transform="translate(-417.387 -14.645)" fill="#fff"/>
                            <path id="Caminho_58" data-name="Caminho 58" d="M424,16h1.355v1.355H424Zm0,0" transform="translate(-388.097 -14.645)" fill="#fff"/>
                            <path id="Caminho_59" data-name="Caminho 59" d="M16,248h1.355v1.355H16Zm0,0" transform="translate(-14.645 -227)" fill="#fff"/>
                            <path id="Caminho_60" data-name="Caminho 60" d="M16,280h1.355v1.355H16Zm0,0" transform="translate(-14.645 -256.29)" fill="#fff"/>
                            <path id="Caminho_61" data-name="Caminho 61" d="M32,264h1.355v1.355H32Zm0,0" transform="translate(-29.29 -241.645)" fill="#fff"/>
                            <path id="Caminho_62" data-name="Caminho 62" d="M0,264H1.355v1.355H0Zm0,0" transform="translate(0 -241.645)" fill="#fff"/>
                            <path id="Caminho_63" data-name="Caminho 63" d="M16,0h1.355V1.355H16Zm0,0" transform="translate(-14.645)" fill="#fff"/>
                            <path id="Caminho_64" data-name="Caminho 64" d="M16,32h1.355v1.355H16Zm0,0" transform="translate(-14.645 -29.29)" fill="#fff"/>
                            <path id="Caminho_65" data-name="Caminho 65" d="M32,16h1.355v1.355H32Zm0,0" transform="translate(-29.29 -14.645)" fill="#fff"/>
                            <path id="Caminho_66" data-name="Caminho 66" d="M0,16H1.355v1.355H0Zm0,0" transform="translate(0 -14.645)" fill="#fff"/>
                        </svg>

                    </div>
                    <span class="text-menu">Lançamentos</span>
                </a>
                <a :href="route('site.blog')" :class="route().current('site.blog') ? 'active list-group-item list-group-item-action text-uppercase d-flex align-items-center' : 'list-group-item list-group-item-action text-uppercase d-flex align-items-center'">
                    <div class="icon pr-4">
                        <svg id="digital-marketing" xmlns="http://www.w3.org/2000/svg" width="37.934" height="37.934" viewBox="0 0 37.934 37.934">
                            <g id="Grupo_23" data-name="Grupo 23" transform="translate(17.359 31.848)">
                                <g id="Grupo_22" data-name="Grupo 22">
                                    <path id="Caminho_67" data-name="Caminho 67" d="M235.566,430.076a.74.74,0,1,0,.217.524A.747.747,0,0,0,235.566,430.076Z" transform="translate(-234.301 -429.859)" fill="#fff"/>
                                </g>
                            </g>
                            <g id="Grupo_25" data-name="Grupo 25" transform="translate(0 19.038)">
                                <g id="Grupo_24" data-name="Grupo 24" transform="translate(0)">
                                    <path id="Caminho_68" data-name="Caminho 68" d="M22.152,263.15V257.7a.741.741,0,0,0-1.018-.687L8.368,262.153H4.256a4.255,4.255,0,0,0,0,8.511h.49v4.449a.741.741,0,0,0,.741.741H8.511a.741.741,0,0,0,.741-.741v-4.092L21.135,275.8a.741.741,0,0,0,1.017-.687v-5.452a3.339,3.339,0,0,0,0-6.511ZM7.771,274.372H6.228v-3.708H7.771v3.708Zm0-5.19H4.256a2.773,2.773,0,1,1,0-5.547H7.771Zm12.9,4.834h0L9.253,269.424v-6.03l8.107-3.265v7.353a.741.741,0,0,0,1.482,0v-7.949l1.829-.737Zm1.482-5.908V264.7a1.857,1.857,0,0,1,0,3.406Z" transform="translate(-0.001 -256.958)" fill="#fff"/>
                                </g>
                            </g>
                            <g id="Grupo_27" data-name="Grupo 27" transform="translate(26.882 27.767)">
                                <g id="Grupo_26" data-name="Grupo 26">
                                    <path id="Caminho_69" data-name="Caminho 69" d="M367.771,374.775h-4.195a.741.741,0,1,0,0,1.482h4.195a.741.741,0,0,0,0-1.482Z" transform="translate(-362.835 -374.775)" fill="#fff"/>
                                </g>
                            </g>
                            <g id="Grupo_29" data-name="Grupo 29" transform="translate(25.666 22.121)">
                                <g id="Grupo_28" data-name="Grupo 28">
                                    <path id="Caminho_70" data-name="Caminho 70" d="M349.13,298.787a.741.741,0,0,0-1.048,0l-1.447,1.447a.741.741,0,0,0,1.048,1.048l1.447-1.447A.741.741,0,0,0,349.13,298.787Z" transform="translate(-346.418 -298.57)" fill="#fff"/>
                                </g>
                            </g>
                            <g id="Grupo_31" data-name="Grupo 31" transform="translate(25.672 31.848)">
                                <g id="Grupo_30" data-name="Grupo 30">
                                    <path id="Caminho_71" data-name="Caminho 71" d="M349.259,431.576l-1.5-1.5a.741.741,0,0,0-1.048,1.048l1.5,1.5a.741.741,0,0,0,1.048-1.048Z" transform="translate(-346.499 -429.864)" fill="#fff"/>
                                </g>
                            </g>
                            <g id="Grupo_33" data-name="Grupo 33" transform="translate(4.001)">
                                <g id="Grupo_32" data-name="Grupo 32">
                                    <path id="Caminho_72" data-name="Caminho 72" d="M84.97,0H71.19a2.967,2.967,0,0,0-2.964,2.964v.3H55.779A1.78,1.78,0,0,0,54,5.038V16.744a1.78,1.78,0,0,0,1.778,1.778h.766v2.272a.741.741,0,0,0,1.265.524l2.8-2.8H75.322A1.78,1.78,0,0,0,77.1,16.744V14.521h7.87a2.967,2.967,0,0,0,2.964-2.964V2.964A2.967,2.967,0,0,0,84.97,0ZM75.619,16.744a.3.3,0,0,1-.3.3H60.3a.741.741,0,0,0-.524.217l-1.748,1.748V17.781a.741.741,0,0,0-.741-.741H55.779a.3.3,0,0,1-.3-.3V5.038a.3.3,0,0,1,.3-.3H68.226v6.816a2.967,2.967,0,0,0,2.964,2.964h4.429Zm10.833-5.186A1.483,1.483,0,0,1,84.97,13.04H71.19a1.483,1.483,0,0,1-1.482-1.482V2.964A1.483,1.483,0,0,1,71.19,1.482H84.97a1.483,1.483,0,0,1,1.482,1.482Z" transform="translate(-54.001)" fill="#fff"/>
                                </g>
                            </g>
                            <g id="Grupo_35" data-name="Grupo 35" transform="translate(24.874 3.592)">
                                <g id="Grupo_34" data-name="Grupo 34">
                                    <path id="Caminho_73" data-name="Caminho 73" d="M341.918,51.513l-5.071-2.928a.741.741,0,0,0-1.111.642v5.855a.741.741,0,0,0,1.111.642l5.071-2.928a.741.741,0,0,0,0-1.283Zm-4.7,2.286V50.51l2.848,1.644Z" transform="translate(-335.736 -48.486)" fill="#fff"/>
                                </g>
                            </g>
                            <g id="Grupo_37" data-name="Grupo 37" transform="translate(7.743 7.779)">
                                <g id="Grupo_36" data-name="Grupo 36">
                                    <path id="Caminho_74" data-name="Caminho 74" d="M112.662,105h-7.409a.741.741,0,0,0,0,1.482h7.409a.741.741,0,0,0,0-1.482Z" transform="translate(-104.512 -105)" fill="#fff"/>
                                </g>
                            </g>
                            <g id="Grupo_39" data-name="Grupo 39" transform="translate(15.152 11.928)">
                                <g id="Grupo_38" data-name="Grupo 38">
                                    <path id="Caminho_75" data-name="Caminho 75" d="M205.776,161.217a.74.74,0,1,0,.217.524A.746.746,0,0,0,205.776,161.217Z" transform="translate(-204.511 -161)" fill="#fff"/>
                                </g>
                            </g>
                            <g id="Grupo_41" data-name="Grupo 41" transform="translate(7.743 11.928)">
                                <g id="Grupo_40" data-name="Grupo 40">
                                    <path id="Caminho_76" data-name="Caminho 76" d="M109.883,161h-4.63a.741.741,0,1,0,0,1.482h4.63a.741.741,0,1,0,0-1.482Z" transform="translate(-104.512 -161)" fill="#fff"/>
                                </g>
                            </g>
                        </svg>

                    </div>
                    <span class="text-menu">Blog</span>
                </a>
                <a :href="route('site.contato')" :class="route().current('site.contato') ? 'active list-group-item list-group-item-action text-uppercase d-flex align-items-center' : 'list-group-item list-group-item-action text-uppercase d-flex align-items-center'">
                    <div class="icon pr-4">
                        <svg id="mensaje" xmlns="http://www.w3.org/2000/svg" width="31.628" height="29.222" viewBox="0 0 31.628 29.222">
                            <g id="Grupo_42" data-name="Grupo 42" transform="translate(0 0)">
                                <path id="Caminho_77" data-name="Caminho 77" d="M27.116,19.477H4.512A4.517,4.517,0,0,0,0,23.989V39.245a4.517,4.517,0,0,0,4.512,4.512H6.283l.035,3.983a.967.967,0,0,0,1.558.757l6.142-4.74h13.1a4.517,4.517,0,0,0,4.512-4.512V23.989A4.517,4.517,0,0,0,27.116,19.477Zm2.578,19.768a2.581,2.581,0,0,1-2.578,2.578H13.687a.967.967,0,0,0-.591.2L8.234,45.778l-.026-3a.967.967,0,0,0-.967-.958H4.512a2.581,2.581,0,0,1-2.578-2.578V23.989a2.581,2.581,0,0,1,2.578-2.578h22.6a2.581,2.581,0,0,1,2.578,2.578V39.245Z" transform="translate(0 -19.477)" fill="#fff"/>
                            </g>
                        </svg>

                    </div>
                    <span class="text-menu">Contato</span>
                </a>
                <a :href="route('site.trabalheConosco')" :class="route().current('site.trabalheConosco') ? 'active list-group-item list-group-item-action text-uppercase d-flex align-items-center' : 'list-group-item list-group-item-action text-uppercase d-flex align-items-center'">
                    <div class="icon pr-4">
                        <svg id="credencial" xmlns="http://www.w3.org/2000/svg" width="31.572" height="31.572" viewBox="0 0 31.572 31.572">
                            <path id="Caminho_78" data-name="Caminho 78" d="M30.647,9.539H19.028L27.488,1.6A.925.925,0,0,0,26.855,0H4.717a.925.925,0,0,0-.633,1.6l8.46,7.939H.925A.925.925,0,0,0,0,10.464V30.647a.925.925,0,0,0,.925.925H30.647a.925.925,0,0,0,.925-.925V10.464A.925.925,0,0,0,30.647,9.539ZM24.517,1.85,18.542,7.457a.925.925,0,0,0-.886-.661h-3.74a.925.925,0,0,0-.886.661L7.054,1.85Zm-7.786,6.8V11.7h-1.89V8.646ZM29.722,29.722H1.85V11.389H12.991v1.237a.925.925,0,0,0,.925.925h3.74a.925.925,0,0,0,.925-.925V11.389H29.722Z" transform="translate(0 0)" fill="#fff"/>
                            <path id="Caminho_79" data-name="Caminho 79" d="M84.248,253.077a3.259,3.259,0,1,0-4.347.043,3.177,3.177,0,0,0-2.447,3.087v2.516a.925.925,0,0,0,.925.925h7.607a.925.925,0,0,0,.925-.925v-2.516A3.177,3.177,0,0,0,84.248,253.077Zm-2.2-3.811a1.408,1.408,0,1,1-1.408,1.408A1.41,1.41,0,0,1,82.051,249.266Zm3.012,8.533H79.3v-1.591a1.324,1.324,0,0,1,1.322-1.322H83.74a1.324,1.324,0,0,1,1.322,1.322V257.8Z" transform="translate(-72.679 -232.159)" fill="#fff"/>
                            <path id="Caminho_80" data-name="Caminho 80" d="M319.653,415.8h-5.64a.925.925,0,1,0,0,1.85h5.64a.925.925,0,1,0,0-1.85Z" transform="translate(-293.782 -390.158)" fill="#fff"/>
                            <path id="Caminho_81" data-name="Caminho 81" d="M314.013,357.648h5.64a.925.925,0,1,0,0-1.85h-5.64a.925.925,0,0,0,0,1.85Z" transform="translate(-293.782 -333.858)" fill="#fff"/>
                            <path id="Caminho_82" data-name="Caminho 82" d="M329.919,231.223h.914v.914a.925.925,0,1,0,1.85,0v-.914h.914a.925.925,0,0,0,0-1.85h-.914v-.914a.925.925,0,1,0-1.85,0v.914h-.914a.925.925,0,0,0,0,1.85Z" transform="translate(-308.707 -213.503)" fill="#fff"/>
                        </svg>

                    </div>
                    <span class="text-menu">Trabalhe Conosco</span>
                </a>
            </div>
            <div class="social d-none d-md-block d-lg-block">
                <div class="facebook">
                    <a :href="$page.dados.facebook" class="facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </div>
                <div class="instagram">
                    <a :href="$page.dados.facebook" class="instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="footer">

            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->

        <div id="page-content-wrapper" class="position-relative">
            <a href="#" class="show-sidebar" @click="toggle">
                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="127" viewBox="0 0 34 127">
                    <path id="Polígono_2" data-name="Polígono 2" d="M63.5,0,127,34H0Z" transform="translate(34) rotate(90)" fill="#1e254b"/>
                </svg>
            </a>
            <nav class="navbar navbar-dark d-block d-lg-none d-md-none">
                <div class="container-fluid">
                    <img class="navbar-brand" style="max-height: 50px" src="/imagens/institucional/LOGO.png" >
                    <button type="button" @click="toggle" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="19" viewBox="0 0 27 19">
                            <g id="Grupo_44" data-name="Grupo 44" transform="translate(-378 -9)">
                                <rect id="Retângulo_27" data-name="Retângulo 27" width="27" height="3" rx="1.5" transform="translate(378 9)" fill="#fff"/>
                                <rect id="Retângulo_28" data-name="Retângulo 28" width="27" height="3" rx="1.5" transform="translate(378 17)" fill="#fff"/>
                                <rect id="Retângulo_29" data-name="Retângulo 29" width="27" height="3" rx="1.5" transform="translate(378 25)" fill="#fff"/>
                            </g>
                        </svg>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        <a class="navbar-brand" href="#">Hidden brand</a>
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">Disabled</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
            <div class="container-fluid">

                <slot></slot>
            </div>
            <div class="container-fluid contato-footer px-5 pt-20 pb-10">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-4 contato">
                        <h2>Contato</h2>
                        <p>
                            {{ $page.dados.endereco }}, {{ $page.dados.bairro }}<br>
                            {{ $page.dados.numero }} - {{ $page.dados.cidade }} {{ $page.dados.estado }}<br><br>
                            {{ $page.dados.telefone }}<br><br>
                            {{ $page.dados.email }}
                        </p>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4 fale-conosco">
                        <h2>Fale Conosco</h2>
                        <p>preencha o formulário e envie-nos sua mensagem</p>
                        <div class="alert alert-warning mt-5 mb-5" v-if="erroMensagem != null">
                            <div v-for="(error, key) in erroMensagem"><span class="p-text-uppercase">{{key}}: </span>{{error[0]}}</div>
                        </div>
                        <input class="form-control padrao" type="text" placeholder="nome" v-model="mensagem.nome" />
                        <input class="form-control padrao mt-2" type="text" placeholder="telefone" v-model="mensagem.telefone" />
                        <input class="form-control padrao mt-2" type="text" placeholder="e-mail" v-model="mensagem.email" />
                        <textarea class="form-control padrao mt-2" v-model="mensagem.mensagem">mensagem</textarea>
                        <button class="botao text-uppercase mt-2" v-if="!enviando" @click="enviarMensagem()">Enviar</button>
                        <button class="botao text-uppercase mt-2" v-else disabled>Enviando...</button>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4 trabalhe-conosco">
                        <h2>Trabalhe Conosco</h2>
                        <div class="w-100 text-center mt-5 mb-2">
                            <img src="/imagens/institucional/icons/empleado.png">
                        </div>
                        <div class="text-center">
                            <inertia-link :href="route('site.trabalheConosco')"><button class="botao botao-trabalhe text-uppercase mt-3">clique aqui e acesse<br> nosso formulário</button></inertia-link>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->
</template>

<script>


export default {

    data(){
        return {
            enviando: false,
            erroMensagem: null,
            mensagem: {
                nome: null,
                email: null,
                telefone: null,
                mensagem: 'mensagem'
            }
        }
    },
    methods: {
        toggle() {
            $("#sidebar-wrapper").toggleClass("toggled");
            $("#page-content-wrapper").toggleClass("toggled");

        },
        enviarMensagem(){
            this.enviando = true
            axios.post('/institucional/enviarMensagem', this.mensagem).then((res) => {
                if(res.data.success){

                    this.$toast.success('Mensagem enviada!<br>Em breve retornaremos seu contato.', { position: "top-right"});
                }
                this.enviando = false
                this.erroMensagem = null
                this.mensagem =  {
                    nome: null,
                    email: null,
                    telefone: null,
                    mensagem: 'mensagem'
                }
            }).catch((res) => {
                console.log(res.response.data.error)
                this.erroMensagem = res.response.data.error
                this.enviando = false
                this.$toast.error('Verifique as informações e tente novamente', { position: "top-right"});
            });
        }
    }
}
</script>
