<template>
    <site>
        <div class="row blog m-0">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-12 destaques" :style="'background-image: url('+noticias[0].imagem+')'">
                        <h2>
                            {{ noticias[0].titulo }}
                        </h2>
                        <p> {{ noticias[0].sub_titulo }}</p>
                        <div class="w-100 botao-ver-destaque" >
                            <inertia-link :href="noticias[0].slug" class="botao-ver-noticia">

                                <span class="icon"><i class="fa fa-plus"></i></span>   Ver notícia
                            </inertia-link>
                        </div>
                    </div>
                    <div class="col-md-12 px-5 px-md-10 py-md-20 py-10">
                        <div class="row">
                            <div class="col-lg-6 noticia" v-for="item in noticias">
                                <h2>{{ item.titulo }} / <small>{{ item.sub_titulo }}</small></h2>
                                <div v-html="item.noticia"></div>
                                <div class="d-flex justify-content-between">
                                    <inertia-link :href="item.slug" class="botao-ver-noticia">

                                        <span class="icon"><i class="fa fa-plus"></i></span>   Ver notícia
                                    </inertia-link>
                                    <span class="data">{{ moment(item.created_at).format('DD MMM')}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-12 newsletter text-center">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-md-flex d-lg-flex justify-content-center mb-3" style="place-items: center">
                                    <img src="/imagens/institucional/icons/articulo.png" style="margin-right: 30px">
                                    <h1 class="titulo text-white pt-2 ml-5">Assine nossa<br>newssletter</h1>
                                </div>
                                <p>preencha o formulário e não perca    as novidades</p>
                                <div class="alert alert-warning mt-5 mb-5" v-if="erroMensagemNewsletter != null">
                                    <div v-for="(error, key) in erroMensagemNewsletter"><span class="p-text-uppercase">{{key}}: </span>{{error[0]}}</div>
                                </div>
                                <input class="form-control padrao" type="text" placeholder="nome" v-model="newsletter.nome" />
                                <input class="form-control padrao mt-3" type="text" placeholder="e-mail" v-model="newsletter.email" />
                            </div>
                            <div class="col-12">
                                <button class="botao text-uppercase mt-5" v-if="!cadastrando" @click="cadastrarNewsletter()">Enviar</button>
                                <button class="botao text-uppercase mt-5" v-else disabled>Cadastrando...</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </site>
</template>

<script>
import moment from "moment";

moment.locale('pt-br');
import Site from '../../Layouts/Site'
import Button from "@/Jetstream/Button";
export default {
    components: {
        Button,
        Site
    },
    props: {
      noticias: Array
    },
    data(){
        return {
            erroMensagemNewsletter: null,
            cadastrando: false,
            newsletter: {
                nome: null,
                email: null
            }
        }
    },
    methods: {
        cadastrarNewsletter() {

            this.cadastrando = true

            axios.post('/institucional/cadastrarNewsletter', this.newsletter).then((res) => {
                if(res.data.success){
                    this.$toast.success('Assinatura Realizada!<br>Te manteremos atualizados de todas as nossas novidades', { position: "top-right"});
                }
                this.cadastrando = false
                this.erroMensagemNewsletter = null
                this.newsletter = {
                    nome: null,
                    email: null
                }
            }).catch((res) => {
                console.log(res.response.data.error)
                this.erroMensagemNewsletter = res.response.data.error
                this.cadastrando = false
                this.$toast.error('Verifique as informações e tente novamente', { position: "top-right"});
            });

        }
    }
}
</script>
