<template>
    <site>
        <div class="row m-0">
            <div class="col-12 contato-page p-5">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-12">
                        <h1>Como podemos de ajudar?</h1>
                    </div>
                    <div class="col-12 col-md-2">

                        <img src="/imagens/institucional/icons/place.png" />
                        <p>Rua Exemplo, Centro, n 99 - Nova Friburgo RJ</p>
                    </div>
                    <div class="col-12 col-md-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="145" height="1" viewBox="0 0 145 1">
                            <rect id="Retângulo_37" data-name="Retângulo 37" width="145" height="1" fill="#ff753f"/>
                        </svg>

                    </div>
                    <div class="col-12 col-md-2">
                        <img src="/imagens/institucional/icons/smartphone.png" />
                        <p>27 99999-9999</p>
                    </div>
                    <div class="col-12 col-md-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="145" height="1" viewBox="0 0 145 1">
                            <rect id="Retângulo_37" data-name="Retângulo 37" width="145" height="1" fill="#ff753f"/>
                        </svg>

                    </div>
                    <div class="col-12 col-md-2">
                        <img src="/imagens/institucional/icons/email.png" />
                        <p>contato@injetec.com.br</p>
                    </div>
                </div>
                <div class="form-contato row justify-content-center text-center mb-5">
                    <h2>Envie-nos uma mensagem</h2>
                    <h4>preencha o formulário e não perca as novidades</h4>
                    <div class="alert alert-warning mt-5 mb-5" v-if="erroMensagem != null">
                        <div v-for="(error, key) in erroMensagem"><span class="p-text-uppercase">{{key}}: </span>{{error[0]}}</div>
                    </div>
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-3 mt-4">
                            <input type="text" class="form-control padrao" placeholder="nome" v-model="mensagem.nome">

                        </div>
                        <div class="col-md-3 mt-4">
                            <input type="text" class="form-control padrao" placeholder="telefone" v-model="mensagem.telefone">
                        </div>
                        <div class="col-md-3 mt-4">
                            <input type="text" class="form-control padrao" placeholder="e-mail" v-model="mensagem.email">
                        </div>
                        <div class="col-md-9 mt-4">
                            <textarea class="form-control padrao" placeholder="mensagem" v-model="mensagem.mensagem"></textarea>
                        </div>
                        <div class="col-md-12 mt-4">
                            <button class="botao text-uppercase mt-3" v-if="!enviando" @click="enviarMensagem()">Enviar</button>
                            <button class="botao text-uppercase mt-3" v-else disabled>Enviando...</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-12 newsletter text-center">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-md-flex d-lg-flex justify-content-center mb-3" style="place-items: center">
                                    <img src="/imagens/institucional/icons/articulo.png" style="margin-right: 30px">
                                    <h1 class="titulo text-white pt-2 ml-5">Assine nossa<br>newssletter</h1>
                                </div>
                                <p>preencha o formulário e não perca    as novidades</p>
                                <div class="alert alert-warning mt-5 mb-5" v-if="erroMensagemNewsletter != null">
                                    <div v-for="(error, key) in erroMensagemNewsletter"><span class="p-text-uppercase">{{key}}: </span>{{error[0]}}</div>
                                </div>
                                <input class="form-control padrao" type="text" placeholder="nome" v-model="newsletter.nome"  />
                                <input class="form-control padrao mt-3" type="text" placeholder="e-mail" v-model="newsletter.email"  />
                            </div>
                            <div class="col-12">
                                <button class="botao text-uppercase mt-5" v-if="!cadastrando" @click="cadastrarNewsletter()">Enviar</button>
                                <button class="botao text-uppercase mt-5" v-else disabled>Cadastrando...</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </site>
</template>

<script>
import Site from '../../Layouts/Site'
import Button from "@/Jetstream/Button";
export default {
    components: {
        Button,
        Site
    },
    data(){
        return {
            enviando: false,
            erroMensagem: null,
            mensagem: {
                nome: null,
                email: null,
                telefone: null,
                mensagem: null
            },
            erroMensagemNewsletter: null,
            cadastrando: false,
            newsletter: {
                nome: null,
                email: null
            }
        }
    },
    methods: {
        enviarMensagem(){
            this.enviando = true
            axios.post('/institucional/enviarMensagem', this.mensagem).then((res) => {
                if(res.data.success){

                    this.$toast.success('Mensagem enviada!<br>Em breve retornaremos seu contato.', { position: "top-right"});
                }
                this.enviando = false
                this.erroMensagem = null
                this.mensagem =  {
                    nome: null,
                        email: null,
                        telefone: null,
                        mensagem: null
                }
            }).catch((res) => {
                console.log(res.response.data.error)
                this.erroMensagem = res.response.data.error
                this.enviando = false
                this.$toast.error('Verifique as informações e tente novamente', { position: "top-right"});
            });
        },
        cadastrarNewsletter() {

            this.cadastrando = true

            axios.post('/institucional/cadastrarNewsletter', this.newsletter).then((res) => {
                if(res.data.success){
                    this.$toast.success('Assinatura Realizada!<br>Te manteremos atualizados de todas as nossas novidades', { position: "top-right"});
                }
                this.cadastrando = false
                this.erroMensagemNewsletter = null
                this.newsletter = {
                    nome: null,
                    email: null
                }
            }).catch((res) => {
                console.log(res.response.data.error)
                this.erroMensagemNewsletter = res.response.data.error
                this.cadastrando = false
                this.$toast.error('Verifique as informações e tente novamente', { position: "top-right"});
            });

        }
    }
}
</script>
