<template>
    <site>
        <section class="slide-header">
            <div class="container-fluid  h-100">
                <div id="carouselExampleIndicators" class="carousel slide  h-100" data-bs-ride="carousel">
                    <ol class="carousel-indicators">
                        <li v-for="(item, key) in slides" data-bs-target="#carouselExampleIndicators" :data-bs-slide-to="key" :class="key == 0 ? 'active': ''"></li>
                    </ol>
                    <div class="carousel-inner h-100">
                        <div v-for="(item, key) in slides" :class="key==0?'carousel-item h-100 active' :'carousel-item h-100' ">
                            <div class="d-none d-md-block image" :style="'background-image: url('+item.imagem+')'">
                            </div>
                            <div class="d-block d-md-none image" :style="'background-image: url('+item.imagem_mob+')'">
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true">
                            <svg id="Componente_3_2" data-name="Componente 3 – 2" xmlns="http://www.w3.org/2000/svg" width="40.401" height="89.852" viewBox="0 0 40.401 89.852">
                              <g id="Grupo_7" data-name="Grupo 7" transform="translate(0 0)" opacity="0.35">
                                <rect id="Retângulo_9" data-name="Retângulo 9" width="16.669" height="51.931" transform="translate(25.965 0) rotate(30)" fill="#ff7417"/>
                                <rect id="Retângulo_10" data-name="Retângulo 10" width="16.669" height="51.931" transform="translate(0 44.878) rotate(-30)" fill="#ff7417"/>
                              </g>
                            </svg>

                        </span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true">
                            <svg id="Componente_2_2" data-name="Componente 2 – 2" xmlns="http://www.w3.org/2000/svg" width="40.401" height="89.852" viewBox="0 0 40.401 89.852">
                              <g id="Grupo_8" data-name="Grupo 8" transform="translate(40.401 89.852) rotate(180)" opacity="0.35">
                                <rect id="Retângulo_9" data-name="Retângulo 9" width="16.669" height="51.931" transform="translate(25.965) rotate(30)" fill="#ff7417"/>
                                <rect id="Retângulo_10" data-name="Retângulo 10" width="16.669" height="51.931" transform="translate(0 44.878) rotate(-30)" fill="#ff7417"/>
                              </g>
                            </svg>
                        </span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </div>
        </section>
        <div class="row m-0">
            <div class="col-12  quem-somos">
                <div class="row">
                    <div class="col-md-6">
                        <iframe width="100%" style="min-height: 315px" src="https://www.youtube.com/embed/NeFi6b8s7rA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-12 px-5  mt-5 mt-md-0">
                                <h1 class="titulo text-uppercase mb-2 ">Quem somos</h1>
                                <div v-html="$page.dados.quem_somos.substring(0,350)"></div>
                            </div>
                            <div class="col-12 mt-5 text-center">
                                <inertia-link :href="route('site.quemSomos')" class="botao text-uppercase mt-5">Saiba mais</inertia-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 p-0">
                <div class="lancamento" id="lancamentos">
                    <img class="w-100 d-none d-lg-block d-md-block" src="/imagens/institucional/lancamento.jpg">
                    <img class="w-100 d-block d-lg-none d-md-none"  src="/imagens/institucional/banner mobile.png">
                    <div class="text-center botao-lancamento">
                        <a class="botao btn-lancamento text-uppercase">
                            <span class="baixe m-3">
                                <svg id="Grupo_10" data-name="Grupo 10" xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 42 42">
                                <g id="Grupo_9" data-name="Grupo 9" transform="translate(0 0)">
                                    <path id="Caminho_4" data-name="Caminho 4" d="M294.563,256h-5.25A1.312,1.312,0,0,0,288,257.313v10.5a1.312,1.312,0,0,0,1.313,1.313h5.25a2.625,2.625,0,0,0,2.625-2.625v-7.875A2.625,2.625,0,0,0,294.563,256Zm0,10.5h-3.937v-7.875h3.938Z" transform="translate(-264.375 -235)" fill="#ffa264"/>
                                    <path id="Caminho_5" data-name="Caminho 5" d="M423.875,258.625V256h-6.562A1.312,1.312,0,0,0,416,257.313v11.813h2.625v-5.25h5.25V261.25h-5.25v-2.625Z" transform="translate(-381.875 -235)" fill="#ffa264"/>
                                    <path id="Caminho_6" data-name="Caminho 6" d="M2.625,38.062V3.937A1.312,1.312,0,0,1,3.938,2.625H23.625v5.25A2.625,2.625,0,0,0,26.25,10.5H31.5v3.938h2.625V9.187a1.312,1.312,0,0,0-.381-.932L25.869.38A1.313,1.313,0,0,0,24.938,0h-21A3.938,3.938,0,0,0,0,3.937V38.062A3.937,3.937,0,0,0,3.938,42h9.188V39.375H3.938A1.313,1.313,0,0,1,2.625,38.062Z" transform="translate(0 0)" fill="#ffa264"/>
                                    <path id="Caminho_7" data-name="Caminho 7" d="M166.563,256h-5.25A1.312,1.312,0,0,0,160,257.313v11.813h2.625v-3.937h3.938a2.625,2.625,0,0,0,2.625-2.625v-3.937A2.625,2.625,0,0,0,166.563,256Zm0,6.563h-3.937v-3.937h3.938Z" transform="translate(-146.875 -235)" fill="#ffa264"/>
                                </g>
                            </svg>
                                baixe nosso catálogo
                            </span>
                            <span class="download"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-8 destaques-blog" :style="'background-image: url('+ noticia && noticia.imagem +')'">
                        <div class="row h-100">
                            <div class="col-12 align-self-end px-10">
                                <h1 class="titulo">{{ noticia && noticia.titulo }}</h1>
                                <p class="text-white w-70 destaque-texto mb-5">{{ noticia && noticia.sub_titulo }}</p>
                                <div class="text-center">
                                    <inertia-link :href="route('site.blog')" class="botao text-uppercase mt-5">veja todas as notícias</inertia-link>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 newsletter-index text-center pt-4 pl-4 pr-4">
                        <div class="row">
                            <div class="col-12">
                                <img src="/imagens/institucional/icons/articulo.png">
                                <h1 class="titulo text-white pt-2">Assine nossa<br>newssletter</h1>
                                <p>preencha o formulário e não perca<br>as novidades</p>
                                <div class="alert alert-warning mt-5 mb-5" v-if="erroMensagem != null">
                                    <div v-for="(error, key) in erroMensagem"><span class="p-text-uppercase">{{key}}: </span>{{error[0]}}</div>
                                </div>
                                <input class="form-control padrao" type="text" placeholder="nome" v-model="newsletter.nome" />
                                <input class="form-control padrao mt-3" type="text" placeholder="e-mail" v-model="newsletter.email" />
                            </div>
                            <div class="col-12">

                                <button class="botao text-uppercase mt-5" v-if="!cadastrando" @click="cadastrarNewsletter()">Enviar</button>
                                <button class="botao text-uppercase mt-5" v-else disabled>Cadastrando...</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </site>
</template>

<script>
import Site from '../../Layouts/Site'
import Button from "@/Jetstream/Button";
export default {
    components: {
        Button,
        Site
    },
    props:{
        slides: Array,
        noticia: Object
    },
    data(){
        return {
            erroMensagem: null,
            cadastrando: false,
            newsletter: {
                nome: null,
                email: null
            }
        }
    },
    methods: {
        cadastrarNewsletter() {

            this.cadastrando = true

            axios.post('/institucional/cadastrarNewsletter', this.newsletter).then((res) => {
                if(res.data.success){
                    this.$toast.success('Assinatura Realizada!<br>Te manteremos atualizados de todas as nossas novidades', { position: "top-right"});
                }
                this.cadastrando = false
                this.erroMensagem = null
            }).catch((res) => {
                console.log(res.response.data.error)
                this.erroMensagem = res.response.data.error
                this.cadastrando = false
                this.$toast.error('Verifique as informações e tente novamente', { position: "top-right"});
            });

        }
    }
}
</script>
<style>
body {
    overflow:auto;
}
</style>
