<template>
    <site>
        <div class="row m-0">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-12 p-0">
                        <iframe width="100%" style="min-height: 515px" src="https://www.youtube.com/embed/NeFi6b8s7rA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-12 quem-somos-page">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-8 col-md-10 p-5">
                                <h1 class="titulo text-uppercase mb-5">Quem somos</h1>
                                <div v-html="$page.dados.quem_somos"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-12 newsletter text-center">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-md-flex d-lg-flex justify-content-center mb-3" style="place-items: center">
                                    <img src="/imagens/institucional/icons/articulo.png" class="pr-4">
                                    <h1 class="titulo text-white pt-2 ml-5">Assine nossa<br>newssletter</h1>
                                </div>
                                <p>preencha o formulário e não perca    as novidades</p>
                                <div class="alert alert-warning mt-5 mb-5" v-if="erroMensagemNewsletter != null">
                                    <div v-for="(error, key) in erroMensagemNewsletter"><span class="p-text-uppercase">{{key}}: </span>{{error[0]}}</div>
                                </div>
                                <input class="form-control padrao" type="text" placeholder="nome" v-model="newsletter.nome" />
                                <input class="form-control padrao mt-3" type="text" placeholder="e-mail" v-model="newsletter.email" />
                            </div>
                            <div class="col-12">
                                <button class="botao text-uppercase mt-5" v-if="!cadastrando" @click="cadastrarNewsletter()">Enviar</button>
                                <button class="botao text-uppercase mt-5" v-else disabled>Cadastrando...</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </site>
</template>

<script>
import Site from '../../Layouts/Site'
import Button from "@/Jetstream/Button";
export default {
    components: {
        Button,
        Site
    },
    data(){
        return {
            erroMensagemNewsletter: null,
            cadastrando: false,
            newsletter: {
                nome: null,
                email: null
            }
        }
    },
    methods: {
        cadastrarNewsletter() {

            this.cadastrando = true

            axios.post('/institucional/cadastrarNewsletter', this.newsletter).then((res) => {
                if(res.data.success){
                    this.$toast.success('Assinatura Realizada!<br>Te manteremos atualizados de todas as nossas novidades', { position: "top-right"});
                }
                this.cadastrando = false
                this.erroMensagemNewsletter = null
                this.newsletter = {
                    nome: null,
                    email: null
                }
            }).catch((res) => {
                console.log(res.response.data.error)
                this.erroMensagemNewsletter = res.response.data.error
                this.cadastrando = false
                this.$toast.error('Verifique as informações e tente novamente', { position: "top-right"});
            });

        }
    }
}
</script>
