<template>
    <site>
        <div class="row m-0">
            <div class="col-12 trabalhe-page">
                <div class="row align-items-center justify-content-center ">
                    <div class="col-12 col-md-10 col-lg-8">
                        <div class="row">
                            <div class="col-md-12 p-2 text-center">
                                <h1>Quer fazer parte<br>de nossa equipe?</h1>
                                <p>preencha o formulário a abaixo e envie-nos suas informações<br>profissionais. Em breve retornaremos o seu contato</p>
                                <div class="alert alert-warning mt-5 mb-5" v-if="erroMensagemTrabalhe != null">
                                    <div v-for="(error, key) in erroMensagemTrabalhe"><span class="p-text-uppercase">{{key}}: </span>{{error[0]}}</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12 p-2">
                                        <input type="text" class="form-control padrao" placeholder="Nome completo" v-model="form.nome">
                                    </div>
                                    <div class="col-md-12 p-2">
                                        <input type="text" class="form-control padrao" placeholder="E-mail" v-model="form.email">
                                    </div>
                                    <div class="col-md-12 p-2">
                                        <input type="text" class="form-control padrao" onfocus="(this.type='date')" placeholder="Data de Nascimento" v-model="form.data_nascimento">
                                    </div>
                                    <div class="col-md-12 p-2">
                                        <input type="text" class="form-control padrao" placeholder="Sexo" v-model="form.sexo">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12 p-2">
                                        <input type="text" class="form-control padrao" placeholder="CEP" v-model="form.cep">
                                    </div>
                                    <div class="col-md-12 p-2">
                                        <input type="text" class="form-control padrao" placeholder="Endereço" v-model="form.endereco">
                                    </div>

                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6 p-2">
                                                <input type="text" class="form-control padrao" placeholder="Bairro" v-model="form.bairro">
                                            </div>
                                            <div class="col-md-6 p-2">
                                                <input type="text" class="form-control padrao" placeholder="Nº" v-model="form.numero">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12 p-2">
                                        <input type="text" class="form-control padrao" placeholder="Telefone" v-model="form.telefone">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 p-2 mt-5">
                                <input type="text" class="form-control padrao" placeholder="Escolaridade" v-model="form.escolaridade">
                            </div>
                            <div class="col-md-12 p-2">
                                <input type="text" class="form-control padrao" placeholder="Estuda Atualmente" v-model="form.estuda_atualmente">
                            </div>
                            <div class="col-md-12 p-2">
                                <input type="text" class="form-control padrao" placeholder="Cursos Realizados" v-model="form.cursos_realizados">
                            </div>
                            <div class="col-md-6 p-2 mt-md-5">
                                <input type="text" class="form-control padrao" placeholder="Área de Interesse" v-model="form.area_interesse">
                            </div>
                            <div class="col-md-6 p-2 mt-5">
                                <input type="text" class="form-control padrao" placeholder="Horário de Interesse" v-model="form.horario_interesse">
                            </div>
                            <div class="col-md-12 p-2  mt-5 mb-5">
                                <select class="form-control padrao"  v-model="form.motivacao" placeholder="O que te motivou a nos procurar?">
                                    <option value="" selected disabled>O que te motivou a nos procurar?</option>
                                    <option value="1º Emprego">1º Emprego</option>
                                    <option value="Mudança de cidade">Mudança de cidade</option>
                                    <option value="Recolocação no mercado de trabalho">Recolocação no mercado de trabalho</option>
                                    <option value="Insatisfação com o emprego atual">Insatisfação com o emprego atual</option>
                                </select>
                            </div>
                            <div class="col-md-12 mt-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4>Última referência profissional:</h4>
                                        <div class="row">
                                            <div class="col-md-12 p-2">
                                                <input type="text" class="form-control padrao" placeholder="Nome da empresa"  v-model="form.nome_empresa">
                                            </div>
                                            <div class="col-md-12 p-2">
                                                <input type="text" class="form-control padrao" placeholder="Contato" v-model="form.contato">
                                            </div>
                                            <div class="col-md-12 p-2">
                                                <input type="text" class="form-control padrao" placeholder="Sua função" v-model="form.sua_funcao">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h4>Período:</h4>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6 p-2">
                                                        <input type="text" class="form-control padrao" placeholder="de"  onfocus="(this.type='date')" v-model="form.trabalhou_de">
                                                    </div>
                                                    <div class="col-md-6 p-2">
                                                        <input type="text" class="form-control padrao" placeholder="até" onfocus="(this.type='date')"  v-model="form.trabalhou_ate">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 p-2">
                                                <input type="text" class="form-control padrao" placeholder="Último Salário" v-model="form.ultimo_salario">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 p-2">
                                <h4>Finalização:</h4>
                                <p>Anexe seu currículo ao formulário para finalizar o seu cadastro.</p>
                                <input type="file" id="curriculo" class="form-control padrao" placeholder="Anexar currículo">
                            </div>
                            <div class="col-md-12 p-2 text-center mb-5">
                                <button class="botao text-uppercase mt-5" v-if="!enviando" @click="enviarCurriculo()">Enviar</button>
                                <button class="botao text-uppercase mt-5" v-else disabled>Enviando...</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-12 newsletter text-center">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-md-flex d-lg-flex justify-content-center mb-3" style="place-items: center">
                                    <img src="/imagens/institucional/icons/articulo.png" style="margin-right: 30px">
                                    <h1 class="titulo text-white pt-2 ml-5">Assine nossa<br>newssletter</h1>
                                </div>
                                <p>preencha o formulário e não perca    as novidades</p>
                                <div class="alert alert-warning mt-5 mb-5" v-if="erroMensagem != null">
                                    <div v-for="(error, key) in erroMensagem"><span class="p-text-uppercase">{{key}}: </span>{{error[0]}}</div>
                                </div>
                                <input class="form-control padrao" type="text" placeholder="nome" v-model="newsletter.nome" />
                                <input class="form-control padrao mt-3" type="text" placeholder="e-mail" v-model="newsletter.email" />
                            </div>
                            <div class="col-12">
                                <button class="botao text-uppercase mt-5" v-if="!cadastrando" @click="cadastrarNewsletter()">Enviar</button>
                                <button class="botao text-uppercase mt-5" v-else disabled>Cadastrando...</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </site>
</template>

<script>
import Site from '../../Layouts/Site'
import Button from "@/Jetstream/Button";
export default {
    components: {
        Button,
        Site
    },
    data(){
        return {
            erroMensagemTrabalhe: null,
            enviando: false,
            form: {
                motivacao: ''
            },
            erroMensagem: null,
            cadastrando: false,
            newsletter: {
                nome: null,
                email: null
            }
        }
    },
    methods: {
        enviarCurriculo() {

            this.enviando = true

            var data = new FormData()
            for (var [key, value] of Object.entries(this.form)) {
                data.append(key, value)
            }
            var curriculo = document.querySelector('#curriculo');
            data.append("arquivo", curriculo.files[0]);

            axios.post('/institucional/enviarCurriculo', data).then((res) => {
                if(res.data.success){
                    this.$toast.success('Recebemos seu curriculo!<br>Entraremos em contato em breve.', { position: "top-right"});
                }
                this.enviando = false
                this.erroMensagemTrabalhe = null
            }).catch((res) => {
                window.scrollTo(0, 0);
                console.log(res.response.data.error)
                this.erroMensagemTrabalhe = res.response.data.error
                this.enviando = false
                this.$toast.error('Verifique as informações e tente novamente', { position: "top-right"});
            });

        },
        cadastrarNewsletter() {

            this.cadastrando = true

            axios.post('/institucional/cadastrarNewsletter', this.newsletter).then((res) => {
                if(res.data.success){
                    this.$toast.success('Assinatura Realizada!<br>Te manteremos atualizados de todas as nossas novidades', { position: "top-right"});
                }
                this.cadastrando = false
                this.erroMensagem = null
            }).catch((res) => {
                console.log(res.response.data.error)
                this.erroMensagem = res.response.data.error
                this.cadastrando = false
                this.$toast.error('Verifique as informações e tente novamente', { position: "top-right"});
            });

        }
    }
}
</script>
